[2017-01-28 00:03] BlueHatbRit opened #1 "Add some base unit tests"
We've got a collection of small functions which are used in the conversion pipeline. It would be useful to have some unit tests around these. Some good candidates to unit test first would be.

* `processSrc` - Takes in any image source and spits out an absolute file path with a prepended protocol.
* `qualifyImgSources` - Takes in some HTML, if there are any `<img>` tags, it runs them through `proc

[2017-03-21 15:37] abejfehr opened #2 "Make first argument source by default"
I don't know how easy this is (I guess it depends on how the arguments are parsed) but I think it would be convenient to have the first argument always be the .md file to be converted.

So something like:

    mdpdf --source thing.md <other options>

Would become:

    mdpdf thing.md <other options>

I'd be happy to investigate, develop it and make a pull request if this idea were welcomed.

[2017-03-21 15:41] BlueHatbRit commented on #2
I was thinking the exact same but I haven't had time to get around to it yet. I did it this way because it was quick using the first args package I came across (npmjs.com/package/yargs) but this is not the best option.

I spent a bit of time looking at a module which I use a lot (https://github.com/TryGhost/knex-migrator) and how they do arguments using npmjs.com/package/commander but I'm not sure

[2017-03-25 21:31] BlueHatbRit commented on #2
I've switched the argument parsing module out from yargs to meow, this has allowed for a much nicer syntax of something like `$ mdpdf README.md --style md-styles.css --debug` or `$ mdpdf README.md output.pdf`

Hopefully this resolves the issue, it should be in release 1.2.1 which is now on NPM.

[2017-03-25 21:31] #2 closed

[2017-03-25 21:57] BlueHatbRit commented on #1
Added some unit tests to ensure the documents are generated, these will do for now but we need some way to figure out if the PDF's are the same when they pop out. Currently that's quite hard because two PDF's probably won't hash to the same value if they're generated at different times.

[2017-03-25 21:57] #1 closed

[2017-03-29 22:00] BlueHatbRit opened #6 "Error creating PDF's on Windows"
## Issue
When creating a PDF on windows, we get the following error:

[code]

## Hypothesis
This seems to be due to the code on lines 8 and 9 in [layout.hbs](./https://github.com/BlueHatbRit/mdpdf/blob/1.2.2/layout.hbs). According to the PhantomJS docs, `evaluate()` runs in a Sandbox which means it runs the main highlightJs script on line 8, and then for line 9 it has no reference to the variable

[2017-03-29 22:26] BlueHatbRit commented on #6
It seems that this could actually be to do with html-pdf's default PhantomJS script "pdf_a4_portrait.js" which seems to orchestrate the page loading and rendering.

However this doesn't really line up if the issue is only on Windows as there are no platform specific clauses in the code. Digging into this script further to fully understand how it evaluates content.

[2017-03-29 23:27] BlueHatbRit commented on #6
Moving the hljs script line `hljs.initHighlightingOnLoad();` inside the main highlight.pack.js seems to remove the errors and the highlighting is working in the debug HTML output but not the final PDF.

I'll test this on OSX and Ubuntu later and see if it's working correctly there. If that is confirmed then I will add that as a temporary fix meaning highlighting will not work on Windows but the co

[2017-03-29 23:29] BlueHatbRit commented on #6
I've tried pulling in highlight.pack.js using a file read and injecting it with handlebars but this seems to yield syntax errors in the HTML for some reason.

[2017-03-30 16:10] #6 closed

[2017-04-14 08:48] BlueHatbRit opened #10 "Tests running too slow"
It seems the integration tests are running way too slow. Even Travis isn't keeping up most of the time with the increased timeout.

We should think of a way to speed them up.

[2017-04-22 14:02] BlueHatbRit opened #11 "Syntax highlighting on windows"
Referring back to #7, we ended up disabling syntax highlighting on Windows. This was a bi-product of correcting some exceptions.

It's still not clear why syntax highlighting is no longer working on Windows. If someone could track it down, it would be great!

## How syntax highlighting works

We use [hljs (highlight.js)](https://highlightjs.org/) which we include in all the code which is pushed in

[2017-04-27 07:25] Stranger-Ok opened #12 "Links always converted as external"
I'm trying create table of contents (TOC) in md file. After conversion to pdf links are recognized as external links (link opened in web browser). What I need to do to make this link internal(just move to item that I specified)? I tried to create different types of links md and html, but all of them converted to external in pdf.
By the way in Chrome works properly, but Acrobat Reader and IE didn't

[2017-04-27 07:30] Stranger-Ok commented on #12
I also take debug html file in output and put it to other online pdf converter. Pdf in the result works correctly in all programs.

[2017-04-27 08:39] BlueHatbRit commented on #12
Hi @Stranger-Ok, interesting question! I'm sure I've done internal links before, let me take a look for you! Links into pdfs have always been a bit tricky and it's possible that the html->pdf converter we're using doesn't quite cut it with internal links.

I'll take a look and get back to you sometime today.

[2017-04-27 09:03] Stranger-Ok commented on #12
Hi @BlueHatbRit , thank you. I will wait for an answer. If it already worked on others version please write the number, I will check it.

[2017-04-27 09:16] BlueHatbRit commented on #12
I've just had a dig into this to find out what's going on and it seems to be a problem with one of our dependencies (html-pdf)[https://npmjs.org/packages/html-pdf]. That module uses PhantomJS which had tickets open for [years](https://github.com/ariya/phantomjs/issues/14891) it seems about converting HTML anchors into PDF bookmarks, it seems many people have tried to add it but it's been unsuccess

[2017-04-28 07:30] mariusandersen opened #13 "Support for styling of .MD structure?"
Hello.

I like the way you add a header and footer in this style. I need my outputed .pdf to have a standardized feel to it so I can use it between multiple documents.

I would like however to have more control over the standard .MD structure styling.

For instance, in MD I have:
# My header
## My sub header

I would in the example above like to set both these headers to be color blue.
I would als

[2017-04-28 07:55] BlueHatbRit commented on #13
Hi @mariusandersen great question! This is exactly how mdpdf is designed actually. You can pass in a CSS stylesheet which will help you style the entire document including headers and footers.

mdpdf will convert your markdown file into HTML, attach any required stylesheets and then convert it into a pdf. As such you can set styles on any elements. Here's one for what you were asking.

[code]

For

[2017-04-28 11:53] #13 closed

[2017-04-28 11:59] mariusandersen opened #14 "Problems with linked images in resulting pdf file"
I was testing with images like described here https://docs.gitlab.com/ee/user/markdown.html#images

I have an md file with an img/markdown_logo.png

md file:
`![alt text](img/markdown_logo.png)`
Opening md file in Typora looks perfect.

resulting html file:
`<img src="file://C:\test\img\markdown_logo.png" alt="alt text">`
Opening html file in Chrome - it lost it's centering of the image (but that

[2017-04-28 12:48] BlueHatbRit commented on #14
I use relative image links all the time and haven't had a problem so far. Try:

`![alt text](./img/markdown_logo.png)`

Which contains a proceeding `./` to define the directory :)

[2017-05-01 09:10] BlueHatbRit commented on #14
I'm assuming this issue has been resolved, feel free to re-open it if you're still having the same problem.

[2017-05-01 22:32] RaviVaranasi opened #15 "Empty pdf generating from docker container"
It works outside the docker container but is empty when running within docker container. FYI: using centos operating system docker image.

[2017-05-01 22:42] BlueHatbRit commented on #15
@RaviVaranasi Are you able to provide some code / container samples to help recreate the issue?

[2017-05-02 12:05] mariusandersen commented on #14
Hello. I retried with your suggestion. So
`![alt text](./img/markdown_logo.png)`
Became in HTML
`<img src="file://C:\git\Test\Documentation\img\markdown_logo.png" alt="alt text">`
Open HTML in Chrome, looks OK (except not centered like the MD file default does)
PDF file unfortunatly still just showing a box with "alt text".

How does the img tag in the html file look in your case?

[2017-05-02 12:15] BlueHatbRit commented on #14
Hi @mariusandersen, this sounds really frustrating, it looks like there's something going on with Phantomjs retreiving the image.

I'm at work at the moment and thus don't have access to Windows which seems to be where the issue is so I'll have to take a look this evening. Thanks for debugging it in the HTML, that's a huge help. Sadly it's really hard to test PDF content but I'm working on it.

I'

[2017-05-02 15:50] RaviVaranasi commented on #15
I figured out the problem -

I needed to install font libraries for centos

[code]

[2017-05-02 15:51] #15 closed

[2017-05-02 16:23] BlueHatbRit commented on #15
Brilliant, glad you're sorted!

[2017-05-02 17:09] BlueHatbRit commented on #14
Found the issue and I'm resolving it over the next few hours @mariusandersen :)

[2017-05-02 17:32] BlueHatbRit commented on #14
@mariusandersen 1.3.2 has been published fixing this issue on Windows! I would recommend always including the `./` though as it's just good practice :)

[2017-05-03 07:55] mariusandersen commented on #14
Hello.

I updated to 1.3.2 and I still seem to get the issue unfortunatly.

md file:
`![alt text](./img/markdown_logo.png)`
(also tried without './')

resulting html file:
`<img src="file:///C:/test/img/markdown_logo.png" alt="alt text">`
Opening HTML file in Chrome - Error showing "alt text" box (assuming this is because the Windows slashes on file path is supposed to be the other way around).

r

[2017-05-03 08:26] BlueHatbRit commented on #14
@mariusandersen I got an email about a new comment you'd left saying this was still an issue, but the comment doesn't seem to be here. Is this still an issue for you?

[2017-05-03 08:45] Stranger-Ok commented on #14
I don't know if issue is the same, but if we specify image path in header file, in pdf image not working.
add to header
<center>
	<div class="divHeaderRight">
		<img src="./logo.png" height="25" width="50"/>
and in pdf image block is empty.

[2017-05-03 08:45] mariusandersen commented on #14
Hello.

Thank you for taking your time to fix this issue.

I updated to 1.3.2 and I now seem to get a different issue unfortunately.

md file:
![alt text](./img/markdown_logo.png)
(also tried without './')

resulting html file:
<img src="file:///C:/img/markdown_logo.png" alt="alt text">
Opening HTML file in Chrome - Error showing "alt text" box.

resulting pdf file:
Error showing "alt text" box

T

[2017-05-03 08:50] BlueHatbRit commented on #14
@mariusandersen Ah that's it! I should have asked where you were calling it from, this makes things much easier to sort. So it seems that image paths are not relative to the MD file directory, but to the directory the process is being started from.

Thanks, I can now go in and correct this and you can expect to see an update sometime today or early tomorrow morning. I'm really sorry for the inconv

[2017-05-03 08:52] BlueHatbRit commented on #14
@Stranger-Ok, are you calling mdpdf from the same directory as the markdown file (IE: are the image paths relative to where you are when you call the mdpdf command)? If so, then this is the same issue and should be resolved within the next 24hours in a 1.3.4 update.

[2017-05-03 10:15] Stranger-Ok commented on #14
@BlueHatbRit , no, but I also try to use relative path from where I call mdpdf and it still not working.

[2017-05-03 10:19] BlueHatbRit commented on #14
@Stranger-Ok alright, I'll fix this later today and we'll see if your issue persists. Can you tell me the following:

* What directory are you running the `mdpdf` command from?
* What directory is your markdown file in.
* What code are you using for the image.
* What directory is your image in?

[2017-05-03 10:58] Stranger-Ok commented on #14
@BlueHatbRit simple structure, in root we have "gruntfile.js"  witch has a task to run mdpdf .
Inside root folder we have "documents" folder, where "readme.md", "readme_header.html", "readme.css" are stored.
Inside "documents" folder we have "images" folder where "logo.png" is stored.
I add to "readme_header.html"
`<img src="./documents/images/logo.png" height="25" width="50"/>`

After converting

[2017-05-03 12:03] BlueHatbRit commented on #14
@Stranger-Ok I'll re-build form that later today to track down the issue. I don't suppose you can give me the code from the gruntfile you're using so I can make sure I'm testing with the exact code you're using?

[2017-05-03 13:53] Stranger-Ok commented on #14
@BlueHatbRit Here it is small example. To run converting just execute the command: "grunt convertMdToPdfTask" . Don't forget to execute "npm install -g grunt-cli", "npm install".

https://drive.google.com/file/d/0B5ZtuDBysaLJWE93anFURU4xbHc/view?usp=sharing

[2017-05-03 14:08] BlueHatbRit commented on #14
@Stranger-Ok oh that's fantastic thank you for providing a demo project for it! I'll pull that down when I get home and can look into this overall issue.

[2017-05-04 10:09] BlueHatbRit commented on #14
@mariusandersen I have implemented a fix for this issue now, it's currently going through the CI server and I hope to publish it within the hour (assuming the builds trigger properly). The issue seemed to be that we were not resolving images relative to the markdown file, but relative to the process.

@Stranger-Ok I've had a look at the code you provided (thanks again) and it seems to be working f

[2017-05-04 10:11] #14 closed

[2017-05-04 10:15] BlueHatbRit commented on #14
The fix has been shipped as mdpdf 1.3.3, feel free to give it a test drive!

[2017-05-05 07:53] mariusandersen commented on #14
It works perfectly now. Appreciate the time and effort!

[2017-05-05 08:33] BlueHatbRit commented on #14
@mariusandersen thanks for confirming it and no worries, I'm sorry such a simple thing was an issue for so long. Thanks for your help to resolve it.

[2017-05-08 07:39] Stranger-Ok commented on #14
@BlueHatbRit Hello, sorry for late reply.Images in md file works correctly, thanks for work.
But in header image is still not showing. I watch on code and it seems because function "qualifyImgSources" is called only for content (md file), may be we should add this call for footer and header html too?

[2017-05-08 08:02] Stranger-Ok commented on #14
@BlueHatbRit Also I found another issue, that's also related to images resolving.
If I run mdpfd from command line, converting completes successfully, but if I call "mdpdf.convert(options)" from code. I'm getting an exception "TypeError: Path must be a string. Received undefined" on resolving image path to URL. Can you try to do the same?

[2017-05-08 08:40] BlueHatbRit commented on #14
@Stranger-Ok I'm going to open a new ticket for the header issue, can you open one for this second issue you've identified?

[2017-05-08 08:42] BlueHatbRit opened #18 "Header images not resolving"
@Stranger-Ok has reported that header images are not being resolved correctly. It seems the image resolving code is running before the header and footers are being injected into the layout.

[2017-05-08 08:44] Stranger-Ok commented on #14
@BlueHatbRit  Ok.

[2017-05-08 09:02] Stranger-Ok opened #19 "Resolving images from API and from command working differently."
@BlueHatbRit Hello, I found another issue, that's related to images resolving.
If I run mdpfd from command line, converting completes successfully, but if I call from API  "mdpdf.convert(options)" . I'm getting an exception "TypeError: Path must be a string. Received undefined" on resolving image path to URL. Can you try figure out whats wrong?

[2017-05-08 09:07] BlueHatbRit commented on #19
Can you provide an `options` object which was causing the issue so I can narrow it down?

[2017-05-08 09:15] Stranger-Ok commented on #19
@BlueHatbRit Yes, here it is full test scenario.
https://drive.google.com/file/d/0B5ZtuDBysaLJWVF0Y2FwalN6QVE/view?usp=sharing

If I run "grunt convertMdToPdfTask" converting completes correctly.
If I run "grunt convertMdToPdf_SE" I'm getting an error.

[2017-05-08 09:29] BlueHatbRit commented on #19
@Stranger-Ok wonderful thanks, just as a note GitHub Gists are really good for this stuff in the future to save using up Google Drive space :) I'll take a look into it this evening if I can. Feel free to have a poke around yourself as well and see if you can resolve it if you'd like to!

[2017-05-09 09:05] BlueHatbRit commented on #19
@Stranger-Ok This is now solved by PR #21, I've tested it with headers and footers as well just to be doubly sure it works.

[2017-05-09 09:06] BlueHatbRit commented on #18
Fixed by #20!

[2017-05-09 09:06] #18 closed

[2017-05-09 09:26] #19 closed

[2017-05-09 09:30] BlueHatbRit commented on #19
@Stranger-Ok both the issues you dug up have been resolved and shipped as 1.3.4 on NPM. Thanks for your help!

[2017-05-16 09:34] higab85 opened #22 "00:00:00 rendered as 00[]00"
Hey! I'm using ubuntu, so I imagine the [] is supposed to be an emoji, but it's still not the intended outcome. Any chance of giving an ignore emoji option? Cheers !!

By the way. This is the best md to pdf CLI software out there. Gets the job done, quickly and efficiently. Thank you for this :)

[2017-05-16 11:01] BlueHatbRit commented on #22
Hi @higab85 first thanks so much for the kind words, it's so encouraging and has made my day.

Interesting case, I'll add a toggle for now as you've suggested but later I might come back and try and fix this within the emoji library we're using so we don't even need the toggle.

[2017-05-16 11:50] #22 closed

[2017-05-16 11:52] BlueHatbRit commented on #22
@higab85 I've published an update as 1.3.5 on npm which includes the documented `--noEmoji` flag which will turn off emoji conversions :)

[2017-05-16 12:37] higab85 commented on #22
@BlueHatbRit  Awesome!! Thank you very much :)

[2017-06-28 15:34] IonicaBizau commented on #11
@BlueHatbRit Hey! I'm really happy to see you're using [`showdown-emoji`](https://github.com/Bloggify/showdown-emoji) which I have just open-sourced and published it (it was on `npm` for a while but it wasn't on GitHub).

Also, I open-sourced [`showdown-highlight`](https://github.com/Bloggify/showdown-highlight) which uses `highlight.js`.

I think that will help since it will generate the highligh

[2017-06-28 16:17] BlueHatbRit commented on #11
@IonicaBizau thanks so much for open sourcing both of those modules. When I get a chance I'll see about bringing in `showdown-highlight`. That may well fix the issues we're having.

The emoji module is great as well, thanks for opening it up. I might look at contributing some shorthand emoji's when I get a chance.

Thanks bringing all of this to my attention, keep up the good work yourself!

[2017-06-28 16:19] IonicaBizau commented on #11
Great! 😁 Thanks for the kind words! ✨

[2017-07-29 11:27] danielbayley opened #25 "Single --border option?"
Maybe a single `--border=<size>` flag would be useful for situations where you just want an equal border without having to specify all 4 options?

Also, maybe have shorter options like `-b` in this case for example…

[2017-07-29 11:27] danielbayley opened #26 "Consider Midas for syntax highlighting?"
http://midasjs.com
https://github.com/ben-eb/midas

[2017-07-29 17:09] BlueHatbRit commented on #26
Cheers for the suggestion, I've not seen midasjs and I can't seem to find any sort of list of languages it supports. Any ideas where this can be found so I can take a deeper look at it?

[2017-07-29 17:12] BlueHatbRit commented on #25
I could see this being useful, how would you propose it should function if a user entered `--border` and `--border-left`?

[2017-07-29 19:10] danielbayley commented on #25
@BlueHatbRit I suppose it could work similar to how CSS does and just override it… so `--border=10` along with `--border-bottom=15` would give you a border of 10 all around, except at the bottom, which would be 15.

[2017-07-29 19:29] danielbayley commented on #26
Ah, I didn't realise it was _only_ for highlighting CSS… The fact that it was built on PostCSS is what got me thinking it might be really nice for theming, but CSS only is probably of too limited application for this project…

[2017-07-29 19:29] #26 closed

[2017-07-29 20:10] BlueHatbRit commented on #26
Ahh, that explains why I couldn't find a list! Great suggestion though, if you happen to find a better one that highlight.js then do let me know :)

[2017-07-29 20:12] BlueHatbRit commented on #25
Great idea, I've put a beginner tag on this issue as it should be straight forward for a new contributor to add. If no one pipes up then I might be able get to it in a week or so!

[2017-08-02 00:09] danielbayley commented on #26
@BlueHatbRit Check out https://github.com/wooorm/lowlight#lowlight--

[2017-08-02 08:37] BlueHatbRit commented on #26
@danielbayley at the moment the syntax highlighting is added when the markdown renders inside a headless browser. Highlight JS automatically goes through each code block and applies the correct highlights. Lowlight would require mdpdf to do that for each code block in the node process before injecting it into the headless browser.

I'm curious as to why you're after a different syntax highlighting

[2017-08-03 18:20] uschek commented on #25
Just made a PR. :)

[2017-08-03 18:34] #25 closed

[2017-09-11 14:36] travs opened #30 ":word: converts to blank image if not actual emoji tag"
Moved here at your request; good luck with the move! 😄
cc: https://github.com/travs/markdown-pdf/issues/166

[2017-09-11 15:15] BlueHatbRit commented on #30
It seems showdown-emoji is attempting to replace any word wrapped in colons (with no spaces) with an emoji image, even if the emoji doesn't exist.

We probably want to create a patch for that repo which fixes this and stops the replacement of text when an image isn't found.

[2017-09-12 12:38] BlueHatbRit commented on #11
Note to self: When i get time to look at it, it might also be worth me checking out http://prismjs.com/download.html to see if that works as well. Right now I'm leaning towards showdown-highlight if it works well and provides good language coverage.

[2017-10-02 13:25] telamon opened #31 "Table of contents support"
Hey!
First of all, thanks for this amazing tool, just what I've been needing for a very long time.
So question, is there any way to add an auto-generated `Table of Contents` e.g. the `[TOC]` markup/macro that's isn't really standard markdown but can be found supported in a few implementations.

[2017-10-03 15:58] BlueHatbRit commented on #31
Hey there @telamon, a table of contents is definitely something I'd like to include! Sadly at the moment we're blocked by a bit of an annoying bug in Phantomjs which means that all our links are being rendered as external links. This issue has been raised as #12.

The fix to this seems to be to use something like [Puppeteer](https://github.com/GoogleChrome/puppeteer) but I've not had time to look

[2017-10-03 16:29] djm158 opened #32 "Incorrect conversion of numbered list"
Tried converting the following file:
https://raw.githubusercontent.com/laboon/CS1530_Fall2017/master/reading-quizzes/quiz4.md

using the command line tool. The file has a numbered list
[code]

but the converted pdf does not convert the list correctly. Instead it looks like:
[code]
Attached an example. I'd be willing to look at it when I have a chance but wanted to document this behavior first. Thi

[2017-10-03 17:18] telamon commented on #31
I see. Well mdpdf is quite useful in its current state as well.

[2017-10-03 21:40] BlueHatbRit commented on #32
Thanks for reporting this one, it looks like it's probably a bug in [showdownjs](https://github.com/showdownjs/showdown) which we use for the markdown->html conversion.

It looks like there may have been a fix for this in a recent release [1.7.2](https://github.com/showdownjs/showdown/releases/tag/1.7.2). We should try and bump that dependency and see if that fixes the issue. It'd be great if you'

[2017-10-03 23:52] djm158 commented on #32
I'll give it a go!

[2017-10-04 00:20] djm158 commented on #32
It looks like this is an issue with showdown parsing the backticks (```) in my markdown file. Unfortunately the most up to date showdown release does not have a fix for this, I'll see about creating an issue over there.

[2017-10-04 08:51] BlueHatbRit commented on #32
That's a shame, I'll give this a test myself today and see if I can peg it down for your issue. Are you able to link this issue in your report to showdownjs?

Do you have a markdown example that illustrates it's back ticks causing the problem and not paragraph based lists (with the latest showdown)?

[2017-10-04 12:27] djm158 commented on #32
Didn't make a report yet, wanted to go through the showdown docs to see if this was valid first. You can test playing with the markdown [here](http://showdownjs.github.io/demo/).

Also tested using showdown's cli and this test file
`Name: `Daniel McGrath` Class start time: `1:00`

1. Does every software system have an architecture?  Why or why not?

2. You are designing a climate control system, w

[2017-10-04 12:58] BlueHatbRit commented on #32
@djm158 I've wrapped your snippet above in some code marks because github actually renders HTML and markdown in comments so it's hard to see the incorrect / correct results.

It looks like showdown is spitting out the correct HTML in that example, though when pushing through your original markdown example in the top issue comment I can see it's producing the bug. I think it's safe to say this is a

[2017-10-04 13:02] BlueHatbRit commented on #32
Just as an example of what I mean, this is what your original MD document would look like if it used some HTML to make the correction: https://gist.githubusercontent.com/BlueHatbRit/482d0ae892733e8d4a51e172264f507e/raw/d43464ebb6b60659dcb59c3f12cafad7490d42c7/example-md.md

[2017-10-16 18:25] tivie commented on #32
# TL;DR;

It's not a bug in showdown, but rather a problem the the input. List's Sub-blocks must be indented 4 spaces (or they will be treated as a "root block")

# Explanation
A bunch of things are happening here:

## List's Sub-blocks must be indented 4 spaces

According to [the original markdown spec](https://daringfireball.net/projects/markdown/syntax#list) a sub-block, in a list, must be inde

[2017-10-16 20:04] BlueHatbRit commented on #32
Hi @tivie, thanks so much for stopping by and explaining this in such great detail. I apologise for not reading the spec initially to check this. Seems we were also fooled by github's implementation of the planned / non-standard feature.

In light of that information, the solution in the TLDR seems to work just fine with mdpdf so I'm going to close this issue.

Also thanks for raising it @djm158,

[2017-10-16 20:04] #32 closed

[2017-11-02 02:04] flakrat commented on #30
I encountered this while using markdown-pdf plugin in Atom.io editor.

In my case the issue was happening from within a code block (note the trailing hash tag was added to allow the back ticks to print in the ticket, not part of original code)

[code]
This is how it renders (as described in the original issue text:
![image](https://user-images.githubusercontent.com/1587409/32304900-b3f62a80-bf48-1

[2017-11-02 13:02] BlueHatbRit commented on #30
Hi there @flakrat, I think you're totally right that it should be ignored in code blocks. However I think it's a slightly bigger issue in that it should probably render words for any un-recognised emoji.

As this is a problem with showdown-emoji I need to find some time to pick up that project, figure it out how it's working and try and get a fix submitted which we can pull into this (or fork it).

[2017-11-07 00:38] istvanszoboszlai opened #33 "Space inside inline code renders to a checkbox"
Version: 1.5.1

This
[code]
renders to this
<img width="338" alt="screen shot 2017-11-07 at 1 34 41" src="https://user-images.githubusercontent.com/292224/32471105-ea1f82d4-c35b-11e7-91ae-324c3bdd03d6.png">

[2017-11-07 10:35] BlueHatbRit commented on #33
Thanks for reporting this @istvanszoboszlai!

This is actually not a checkbox, it's actually part of the emoji code which we're working on in #30. I'm working with the folks on Bloggify/showdown-emoji to try and figure this one out. I'm going to close this as a duplicate as it's now linked to that original issue.

I'll continue some discussion on there.

[2017-11-07 10:35] #33 closed

[2017-11-07 10:36] BlueHatbRit commented on #30
Had another instance of this, I'm going to release a new version of mdpdf in the next few days which turns off emoji support by default. The flag will now be to enable emoji conversion with a link to this issue until we can solve it in showdown-emoji.

I've opened an issue over on showdown-emoji to start working on this, but I'm still waiting for a reply on my proposed method of solving this.

[2017-11-07 10:37] istvanszoboszlai commented on #33
Just for the record: in osX's Preview app, when I clicked on it, I got a checkbox inside the box. Hence the description :)
Thanks for the fast feedback.

[2017-11-07 10:51] BlueHatbRit commented on #33
Oh wow, that's a new one! I'll have to test that out myself, it's probably because of the default image it's using I imagine, that may be a nice way to include checkboxes though!

[2017-11-10 09:56] BlueHatbRit commented on #30
Thanks to IonicaBizau on showdown-emoji, this has now been resolved. The version has been bumped from their end as a patch so any npm install commands will grab the new one without me doing a release.

I'll leave the flags as they are for now and I'll close this one off. Thanks for all the reports.

[2017-11-10 09:56] #30 closed

[2017-11-10 09:56] BlueHatbRit commented on #33
This has now been fixed with #30

[2017-11-10 10:16] istvanszoboszlai commented on #30
I have tested it, and I can confirm that it is fixed. Thanks!

[2017-11-10 10:20] BlueHatbRit commented on #30
Brilliant, cheers @istvanszoboszlai!

[2017-11-21 02:13] ryanjm opened #34 "Command line support for GH style + custom styling"
When using the command line, I'd like to be able to just add a small stylesheet to adjust the few things I want to correct from the default styling. Is there any support for this? I'm not seeing the right steps.

[2017-11-21 09:31] BlueHatbRit commented on #34
At the moment we have 2 layers of default styling, we have the base styles which make the PDF readable and these are active at all times. Then we have the github markdown styling as another default that sits on top, this is turned off if you provide styles yourself using the `--styles` flag.

You make a good point that this both isn't documented, and not super user friendly. Right now a quick fix

[2017-11-21 15:20] ryanjm commented on #34
It does thank you. I'll continue playing around with this. If I get some time, I'll try to add the other flag.

Would `--gh-style` be an okay name for that?

It'd default to `true` unless `--styles` is defined. That way, if you want to define a style _and_ have the gh style then you'd just include both. That should also not change the defaults.

* `mdpdf README.md` - `gh-style` is true so it uses

[2017-11-22 09:57] BlueHatbRit commented on #34
Thanks for the suggestion and examples @ryanjm, that sounds very reasonable with some accompanying documentation. This change will also not be a breaking API change which is great. The order the styles would be applied in would be:

* GitHub styles first
* Then the mdpdf default styling which sets some font sizes to make things readable in most cases
* User defined styles from the `--styles` optio

[2018-02-27 14:00] Crissov opened #36 "Messed-up Kerning on Windows"
No matter which stylesheet or font I'm using, the PDF shows up with completely messed up kerning. Some letters are too far apart, some are too close together, and that regularly happens within a single word. The letter sequences closer together seem to be the same ones throughout the document. Explicitly setting `letter-spacing: 0` has no effect.

[2018-02-27 14:15] BlueHatbRit commented on #36
Wow that isn't good! Are you able to provide a stylesheet example and the generated PDF? I have limited access to a windows machine at the moment so it'll help speed up the debugging process.

[2018-02-27 14:51] Crissov commented on #36
- MD: <https://github.com/Crissov/unicode-proposals/blob/master/hearts.md>
- PDF without custom CSS: <https://github.com/Crissov/unicode-proposals/blob/master/hearts.pdf>
- PDF with custom CSS: <https://github.com/Crissov/unicode-proposals/blob/master/hearts-print.pdf> <https://github.com/Crissov/unicode-proposals/blob/master/print.css>

[2018-02-28 09:54] BlueHatbRit commented on #36
@Crissov thanks for supplying those files, clearly the kerning is off in the final PDF as you've said.

I should have access to a windows machine this evening so I'm going to try and give it a run through then and see if I can debug it a little bit. The rendering of the PDF is handled by phantomjs so I'm not sure how much control I can impose over it other than with some crafty css. I'll take a de

[2018-03-29 11:24] 8lank opened #37 "Styles are not applied"
Hi,

First of all, thank you for your amazing tool. I recently started using it and I noticed that whatever the CSS style sheet provided, the styles are not applied.

I am using a MacBook Pro and I installed mdpdf globally using the npm command line.

Best

[2018-03-29 13:29] BlueHatbRit commented on #37
Hello @8lank, thanks for the encouragement! Are you able to provide me with the following so I can reproduce the error exactly as you are?

* The version you're running (mdpdf --version)
* The full command you're using
* An example markdown and css file

From that I can run it through quickly and see exactly what might be going wrong!

[2018-04-03 14:49] 8lank commented on #37
My bad, I found an issue with my script that was overriding my styles.

Sorry for that, your tool works perfectly 👍

[2018-04-03 15:02] BlueHatbRit commented on #37
Oh that's great news! I'll close this issue then, if you have any more issues then feel free to file another, and feel free to give some tool feedback as well! I'm on twitter, email, or you can just drop an issue (or comment on here). Feedback is amazing as I often have no idea how people are using my tools 😄

[2018-04-03 15:02] #37 closed

[2018-05-10 16:26] geoffwild11 opened #38 "Words with 'w' in the middle add extra spaces"
I'm running into an issue where converting a file to PDF is adding spaces next to all of my lowercase w's in the middle of words. It seems to generally be only within the main text. It just looks pretty bad when I want to share this with others at work. I'm running this on a Windows 10 machine.

Also, I'm using [Markdown-to-PDF](https://github.com/travs/markdown-pdf) in [Atom](https://atom.io/). T

[2018-05-10 17:26] BlueHatbRit opened #39 "Migrate away from Phantom based rendering to Puppeteer"
Chrome's Puppeteer project finally accepts the full parameters we need to support headers and footers in pdfs. This means we should be able to make the move over to puppeteer at last.

This will require creating a shim for Puppeteer and ensuring we can accept all the current parameters without breaking the API too much.

This should also fix many of the rendering issues we've seen but not had cont

[2018-05-10 17:28] BlueHatbRit commented on #38
Hey @geoffwild11, thanks for reporting this, you're right that this is most probably in mdpdf. mdpdf uses a browser to render the text so some of this will depend on the font, and some of it on the browser. It seems this is an issue with the lowercase `w` that's being used (thanks for the pdf).

The good news is, I'm actually starting to move mdpdf from phantom over to Chrome Puppeteer as it now f

[2018-05-10 17:30] BlueHatbRit commented on #39
I've done a bit of quick and dirty prototyping for this on the `puppeteer` branch which shows this would work. We'd need a full Puppeteer shim though which would act as the html->pdf converter.

The work for this shouldn't be too big really, the only hard bit will be keeping the current API but even that should be fairly easy (mostly just setting up some sane defaults).

If anyone wants to jump in

[2018-05-26 20:26] travs opened #40 "Lists directly below headings do not render as lists"
Hey Elliot, have had an [issue raised over on markdown-pdf](https://github.com/travs/markdown-pdf/issues/185), where [this markdown](https://gist.githubusercontent.com/snehamabraham/d17d0d42eccc67b5aa5106b2a66286f5/raw/c4ee762e6c89797f8233b23c2463458d8ea8d392/md-pdf-list-issue.md) does not render as the preview pane does.

Not sure if having a list directly below a heading is valid md or not, but

[2018-05-26 21:02] BlueHatbRit commented on #40
Hey there @travs, I'll take a look at the markdown spec and see. In my experience a lot of systems require a new line between a header and a list for it to render correctly, but that doesn't mean it's not a bug.

I'll take a look at the various markdown specs around (though as we know, they're all a bit thin) and get back to you via this issue.

Just an off-topic note, I'm currently working on rep

[2018-05-26 21:10] travs commented on #40
@BlueHatbRit Awesome, and thanks for the heads-up. I would definitely want to support your new version as well, and having it in `markdown-pdf` would be great battle testing. Feel free to raise an issue in the atom package repo or message me on keybase when it's ready!

[2018-05-26 21:12] travs opened #41 "Successive bold text sections cause underscores to be rendered strangely"
[Someone](https://github.com/travs/markdown-pdf/issues/182) in `markdown-preview` found a strange edge-case or something.

[code]

Unsure if this is expected behaviour, but seems like it is not.

[2018-05-26 22:25] travs opened #43 "Styles seem to not be applied when using js API"
Styles are applied when using the cli, as in `mdpdf sample.md --style=sample.css`, but seem not to be applied when doing the same via the js API.

Sample:

[code]

[`sample.md`](https://gist.githubusercontent.com/travs/ef674d6462f8229a5641ac53a11daafd/raw/480b54af882ef6307a22849f5df4e77f78f05e38/sample.md)

[`sample.css`](https://gist.github.com/travs/0e02e09e804669599757a97a85eaf9ee)

[Actual out

[2018-05-26 22:32] BlueHatbRit commented on #43
The best place to check for this stuff is in bin/index.js, I'm aware it's a bit messy but it's where we take CLI arguments and parse them into the format accepted by the mdpdf JS api, this api is the same as the one exported for public consumption.

The JS api needs full file paths as you should be able to see on line 100 where we call `path.resolve(style);`.

Apologies that this isn't clear, we d

[2018-05-27 10:18] travs commented on #43
Ahh ok gotcha. Yeah I tried it again and I think I may have been mistaken in the first place about the output. When I used `defaultStyles: true` it produced exactly what I expected, which is really great. Sorry about this one :)

[2018-05-27 10:18] #43 closed

[2018-05-27 15:03] BlueHatbRit commented on #43
No worries, just means the docs need to be better!

[2018-05-27 22:14] BlueHatbRit commented on #41
Hm, underscores really denote italics so the fact it's going bold is interesting. As discussed in the past, mdpdf uses Showdown to convert markdown to html, so this would most likely be upstream. Though the plan in the not too distant future is to pull this into mdpdf rather than using showdown so we have greater control.

I'll have a test with showdown and see what it spits out without mdpdf to m

[2018-05-27 22:16] BlueHatbRit commented on #36
I've been working on the Puppeteer migration and it's not far off being finished. I can confirm that this fixes the kerning issues :tada:, it shouldn't be long until this is finished. You can track the progress on PR #42

[2018-05-29 10:09] BlueHatbRit commented on #40
Just had a look at this issue again using Showdown directly. To achieve what the user is attempting, they probably want this markdown. This may not be what GFM requires, but it's what Showdown's flavour requires at the moment, so to achieve the effect they will need the following:

[code]

We've already got discussion in another thread about the possibilities of supporting other markdown flavours.

[2018-06-05 11:08] wivaku opened #44 "custom CSS on top of default CSS"
It is possible to use your own CSS.
Current situation: custom CSS replaces default CSS, see https://github.com/BlueHatbRit/mdpdf/issues/13
Would be great if there can be an option to use the custom CSS **on top** of the default CSS.

Until then I use the workaround: dowload the [default CSS file](https://github.com/BlueHatbRit/mdpdf/blob/master/assets/github-markdown-css.css) and modify it.

[2018-06-05 13:30] BlueHatbRit commented on #44
Hi @wivaku, thanks for the question, are you using the CLI or the API?

[2018-06-05 13:30] wivaku commented on #44
the CLI

[2018-06-05 14:18] BlueHatbRit commented on #44
The default styles you'll be seeing are the github markdown styles, which means this is a duplicate of #34 asking for the ability to keep github styles when adding custom ones as you've asked for.

If you'd like to thumbs up the original post on there, or maybe even submit a PR that would be fantastic. It's only me on the project at the moment so my time is quite limited but I will get to it when

[2018-06-05 14:19] #44 closed

[2018-06-05 14:20] wivaku commented on #44
ah, sorry for missing #34 . Thanks for the prompt replies

[2018-06-05 14:26] BlueHatbRit commented on #44
It's all good, no worries at all. I am active here, I just have limited time to dev on it all around work. Any contributions are much appreciated, including bug reports / feature requests!

[2018-08-16 00:36] mcqj opened #46 "Paragraph Breaking"
Using version 1.7

mdpdf is treating separate lines in the markdown input as separate paragraphs. Lines of text that are not separated by a blank line should be treated as forming part of the same paragraph, according to the spec. New paragraphs should start after a blank line.

[2018-08-24 11:21] banditopazzo opened #47 "Phantom.js missing"
Hi,

I had to install the phantomjs-prebuilt package manually. Probably i'ts missing in the dependencies.

Bye

[2018-08-24 15:42] BlueHatbRit commented on #46
Hello @mcqj, sorry for the slow reply I've been away camping for the week. What spec are you looking at? There are multiple markdown specs which often conflict in some places.

[2018-08-24 15:43] BlueHatbRit commented on #47
This isn't a problem I've had in the past at all, could you elaborate a bit more and possibly provide the error messages you got while performing the npm install? I've not seen this reported by anyone in the past either. It could be a broken dependency further up the tree due an unfixed version or something.

[2018-08-24 15:53] banditopazzo commented on #47
Hi, there is not a problem with the installer, the installer works fine ( globally installed ). But then if I execute `mdpdf filename.md` there is an error about phantom.js because it's not found. I solved going into the directory of the package ( /usr/lib/node_modules/mdpdf/ ) and doing npm install phantomjs-prebuild. After that, no errors, and the markdown file is converted to a pdf.

[2018-08-26 21:09] BlueHatbRit commented on #47
@banditopazzo I can't seem to recreate the issue. I've just tried a fresh global install from the npm registry and immediately run `mdpdf` on a markdown file and had no issues at all.

Could you give me the full error you were getting before you did the fix you mentioned?

[2018-08-27 09:51] banditopazzo commented on #47
Hi, I uninstalled and reinstalled with:
`npm install mdpdf -g`

The installer outputs this:
[code]

If I run `mdpdf` on a markdown file, it gives me this error:
[code]

To fix I have to go to `/usr/lib/node_modules/mdpdf` and type in the terminal:
`npm install phantomjs-prebuilt`
and outputs this:
[code]

I don't understand what is the problem but this solution works for me. I hope it helps

[2018-08-27 09:53] banditopazzo commented on #47
My specs:
node v10.9.0
npm 6.4.0

[2018-08-27 13:27] mcqj commented on #46
No problem @BlueHatbRit and thanks for the reply.

I'm looking at GFM spec here: https://github.github.com/gfm/#paragraphs

[2018-08-27 18:14] BlueHatbRit commented on #46
Wonderful thank you, mdpdf uses the Showdown.js module to convert markdown into HTML, that follows the requirement of a double new line to signify a new line in markdown. I'll take a look and see what spec they're following, but this doesn't appear to be a bug from their perspective, or at least it would be a very obvious one if it were.

I'll have a dig around and see what I can find, but if it's

[2018-08-27 18:19] BlueHatbRit commented on #46
Yeah okay Showdown is following the original "spec" (used loosely) by John Gruber, which has been derived from his original perl implementation, and that's what they attempt to stick closest to. This implementation seems to be correct:

So there must be one or more blank lines between two lines of text to denote a new paragraph split. For now this is the implementation we're going to go with, howe

[2018-08-27 18:29] BlueHatbRit commented on #47
It seems during the Phantom installation you had the error:

[code]

Googling around, it seems this is some sort of permission error that is prevalent on linux when installing phantom dependant projects. I don't have a linux machine handy, only macOS or Windows so I can't test this myself but it might be worth trying the installation with `sudo` to see what happens.

I'll spin up a vm when I get a

[2018-08-28 11:35] mcqj commented on #46
@BlueHatbRit I'm OK with that but that is not the behaviour I am seeing. What I am seeing is that text separated by a new line (in other words zero blank) lines is resulting in a new paragraph.

Let me illustrate with some examples:-

The following input:-
[code]
produces this output:-
<img width="328" alt="screen shot 2018-08-28 at 12 30 59" src="https://user-images.githubusercontent.com/5565612/

[2018-08-28 11:53] BlueHatbRit commented on #46
Ah right I see what you're describing now, a picture can mean 1000 words I guess. Thanks for reporting this, this does _not_ seem to lineup with showdown implementation. I'll check this out with our version of showdown, it might be a case of simply making sure we're on the latest version. Otherwise, this will most likely be a bug in showdown itself, though the websites demo version creates what we

[2018-10-01 11:22] elliotblackburn opened #49 "Find a way to test PDF content"
It would be amazing if we could test the validity of an output PDF in our test suite. I don't know much about the PDF spec (though I'm learning more every day).

If anyone has any idea how we might compare a PDF to the markdown used to generate it, I'd be really interested to hear suggestions or see a sample in a PR. Even just testing the words of simple markdown file with no header or footer.

[2018-10-02 12:24] enric1994 opened #50 "[Suggestion] Add a Dockerfile to the project"
I  have created a Docker image to avoid installing node and the dependencies:
[code]
To use it, I setup an alias like this one:
`alias mdpdf="docker run --rm -it -w /data -v $(pwd):/data enric1994/mdpdf mdpdf"`

Then, I run: `mdpdf README.md`

Hope it help,

Enric

[2018-10-02 12:27] enric1994 opened #51 "Error rendering pictures to the PDF"
After running `mdpdf README.md`, the pictures appear as **interrogation** **signs**.
I am using this syntax in the Markdown file: `![Alt text](/reports/figures/demo.png)`

Any advice?

Thanks!

[2018-10-02 12:31] BlueHatbRit commented on #51
Hi @enric1994 a couple of questions if you don't mind, they should help me figure out what's going on.

1. What OS are you using?
2. What do you mean by "Interrogation signs", is there anyway you could reproduce this and attach a screenshot or the a markdown file + image + the command you're using?
3. In your example you're using an absolute path on unix platforms, is that correct or are you using

[2018-10-02 13:05] enric1994 commented on #51
I am using a this Docker image:
[code]

![screenshot from 2018-10-02 13-59-20](https://user-images.githubusercontent.com/17545224/46349948-69857180-c64b-11e8-9da5-3f64b7a288f9.png)

.
├── docker
│   ├── docker-compose.yml
│   └── Dockerfile
├── docs
│   └── README.pdf
├── Makefile
├── README.md
├── reports
│   └── figures
│       └── demo.png

Okay... I changed the path and it works: `![Alt text](

[2018-10-02 13:05] #51 closed

[2018-10-02 13:09] BlueHatbRit commented on #51
No worries, in unix if you prefix the path with a `/` it'll start at the root if your operating system. You can see this by doing `cd /reports/figures/demo.png` vs `cd reports/figures/demo.png` in your terminal.

Thanks for the quick turn around!

Feel free to leave some feedback on mdpdf just as a comment in this issue if you like, it's always good to know what people are using mdpdf for and what

[2018-10-02 13:18] enric1994 commented on #51
Well, I use it basically to put all the .md's in a "docs" folder, maybe I add this automation to my enric1994/mdpdf Docker container, something like `make docs`. I will let you know.

[2018-10-02 14:07] BlueHatbRit commented on #50
Thanks @enric1994, this seems like an interesting way of using mdpdf, thanks for sharing it! Since this is primarily a CLI tool and node library I don't plan on bundling this into a docker container at the moment, it feels quite overkill for processing a markdown file.

It's a nice way to use it if you don't want to install the dependencies which I appreciate, but I don't think maintaining a docke

[2018-10-02 14:07] #50 closed

[2018-10-02 14:12] BlueHatbRit commented on #47
@banditopazzo I've given this a go using a docker container as suggested by @enric1994 in the above comment. The issue is definitely due to file permissions. You need to set the correct file permissions on the `/usr/lib/node_modules` directory (and sub directories). Alternative, if you're feeling brave you can use `sudo npm install mdpdf -g`. This should let you install it just fine, but be aware

[2018-10-02 14:13] BlueHatbRit commented on #47
I'm going to close this for now as resolved, if this doesn't fix your issue let me know and I'll re-open the issue and continue debugging it with you.

[2018-10-02 14:13] #47 closed

[2018-10-22 15:23] richstokes opened #52 "Tables truncated in weird way"
Create a markdown with a wide-ish table. Convert to PDF. The PDF gets cut off at the sides of the page. There is a horizontal scroll bar visible in the PDF (which you cant use).

[2018-10-22 21:01] BlueHatbRit commented on #52
Hello @richstokes, thanks for raising this. This is because your files are rendered with an embedded browser, hence the scroll bar images. Tables are great on the web but pretty painful when trying to print them in my experience.

So far the best solution I've come up with is fiddling around with CSS on a case-by-case basis until you get the look you want. I don't know of a way to make a universal

[2018-10-30 19:30] banditopazzo commented on #47
Sorry for the long delay. I have used `sudo npm install mdpdf -g`, and however phantomjs was not installed. For me there is no working solution right now apart the workaround above. I don't know where the issue come from, maybe you can add a temporary "Known Issues" section on the Readme. Probably I will test it again in the future, now I resolved with the workaround

[2018-10-30 19:56] BlueHatbRit commented on #47
@banditopazzo what OS are you using? It would be ideal if I could reproduce this so it can get fixed rather than adding a workaround onto the readme but if we can't resolve it then I'll consider an FAQ section on there with a link to this issue.

[2018-11-04 20:36] jelisejev opened #53 "Not all emojis are displayed correctly"
Hey! I'm currently working on some markdown that contains emojis and some of them are not displayed in the resulting pdf. Here's a case to reproduce it.

I take this markdown:
[code]
Convert it width `mdpdf test.md --debug`.

And as a result the thumbsup emoji is displayed, but the ledger is not.

Here's how the debug html looks like:
[code]

Am I missing something here? I've briefly looked in you

[2018-11-18 20:39] AbsurdMagpieScrutinies commented on #34
one year anniversary

[2018-11-18 22:56] BlueHatbRit commented on #34
We're open to contributions @AbsurdMagpieScrutinies! You don't have to just sit on the side lines and wait :)

[2018-11-19 22:36] AbsurdMagpieScrutinies opened #55 "handlebars (subsititutions) does not work at all"
If  ``test.md`` is:   ( https://github.com/AbsurdMagpieScrutinies/markdown-tests/blob/master/test.md )
------------------------------
    \# This is Heading 1 (one)

    This is the body
------------------------------

and ``test_header.hbs`` is (https://github.com/AbsurdMagpieScrutinies/markdown-tests/blob/master/test_header.hbs)
---------------------------------
      blah {{h1}} {{.markdown-bod

[2018-11-19 23:17] AbsurdMagpieScrutinies commented on #55
**My suggestion as to the underlying problem. **

In index.js, the line
      const html = loophole.allowUnsafeNewFunction(() => template(local));

should stick the real values (h1, body, etc) into the template made by the line
      template = Handlebars.compile(layout);

My [understanding](http://handlebarsjs.com/) is that the parameter to the template( ) is a hash in the form of
      var conte

[2018-11-20 21:53] AbsurdMagpieScrutinies commented on #55
re:

Yes, you're correct, that is what it appeared the application's functionality was, and that is what I am trying to do. Seeing handlebars.js - a templating substitution library -  seemed, incorrectly, to imply that we (the users) could use template substitution.

It could be "if multiples then can't substitute"  but then that leaves not much. Maybe, seeing that you are using handlebars, you co

[2018-11-22 17:16] BlueHatbRit commented on #55
Really appreciate you taking the time to feedback these ideas and clarification!

Handlebars is really just used for combining header files, the html generated from the markdown, and the css. Perhaps it was a mistake encouraging a `.hbs` extension in the readme rather than just a plain `.html`. That aside, I think substituion would be quite useful, I can see it being very useful for generic form g

[2018-11-27 23:14] AbsurdMagpieScrutinies commented on #55
With a properly written regexp expression  (AA|BB|CCCC) it could be O(1), rather O(N) where N is the size of the markdown document, i.e, the *.md would only have to be traversed ~~once~~ twice: once read into an internal array, a second time as it is written out and the substitutions made.  Even if it was 100s of pages, it would take microseconds.

I have used, to collect the {{AA}} and {{BB}} tag

[2018-11-28 12:27] BlueHatbRit opened #56 "Create a substitution CLI / JS interface using Handlebars"
As discussed in #55, it would be great to offer some sort of substitution interface since we already use Handlebars. This should be a sort of pre-process across the various input files (header, footer, and main md file).

Opening the floor to suggestions for the interface and implementation!

[2018-12-12 04:34] AbsurdMagpieScrutinies opened #57 "HTML tags in the markdown source are closed in the generated HTML"
If someone has an HTML tag in their markdown, like

       <span class=ContactListTable>
            something
            something else
        </span>

in the generated HTML the tag is weirdly and obviously incorrectly **automatically closed** !

       <p><span class="ContactListTable"></span></p>
            something   // class attributes not applied;;
            something   // class attrib

[2018-12-13 11:06] BlueHatbRit commented on #57
We do absolutely nothing to the HTML at the moment other than injecting the header and footers, even this is abstracted at the moment. While the docs say that, it's worth us checking what it actually does. Do you have a markdown example with the html inside, is that top one an example that causes the issue?

Showdown have a tool on their web page for testing the output so I can use that to check h

[2018-12-26 23:43] mitesh-mokko opened #59 "Bold sections are not rendered as bold"
Using node.js 9.11.2 on a MacBook Pro (MacOS Mojave), the following file does not render bold as bold.

This issue persists whether we use raw styles, github styles or even custom styles.

We have also tested with **bold** and __bold__ and in each case the font remains normal.

[2019-01-03 11:01] BlueHatbRit commented on #59
This is very strange, do you have a sample markdown file and pdf output so I can make sure I'm getting the same effect as you? I've not had this issue before.

[2019-01-03 15:57] mitesh-mokko commented on #59
Hi! Thanks for your reply.

The sample file that we used was along the lines of:

[code]

The "Bold" piece does not render as **Bold**, but only on my laptop - locally. When the same code is deployed to an Ubuntu VPS, everything works just fine!

We checked the generated HTML (debugging step) and that looks perfectly fine - so it could be an issue with html-pdf..

[2019-01-03 16:53] BlueHatbRit commented on #59
Huh, that's super strange... If the HTML is fine then it'll be an issue with Phantom which is the embedded browser used to do the render. I'm in the process of replacing this with Puppeteer (#42) but I've had literally no time recently due to family issues and the holidays.

Can you give your full macos version number? I run mac at home and at work so should be able to give it a test if I'm on the

[2019-01-09 00:05] mitesh-mokko commented on #59
It is most likely PhantomJS; and this is a minor issue for the moment.

My MacOS version: 10.14.2 (macOS Mojave)

I'm a Puppeteer novice, but willing to assist!

[2019-01-13 23:47] BlueHatbRit commented on #59
Checkout the Puppeteer branch if you want to see where things are at, it should work fine if you're not using headers and footers. Currently puppeteer is quite incomplete with these two features which is a huge shame. #42 shows the branch. That branch should solve the issue, would you mind checking when you get some time @mitesh-mokko?

[2019-01-19 21:31] BlueHatbRit commented on #41
Late to the ball game with this one but I'm spring cleaning. It seems Showdown gives us this:

<img width="695" alt="screenshot 2019-01-19 at 21 30 36" src="https://user-images.githubusercontent.com/1068477/51432557-801efb00-1c31-11e9-82ea-4d8673e63c43.png">

The PDF's render in a similar fashion but not identically. I'm going to go and update Showdown and see if that fixes the issue.

[2019-01-19 21:33] BlueHatbRit commented on #39
#42 completes this

[2019-01-19 21:33] #39 closed

[2019-01-19 21:34] BlueHatbRit commented on #38
This _should_ be solved in 2.0.0, but it's worth checking the release notes before upgrading!

[2019-01-19 21:34] #38 closed

[2019-01-19 21:35] BlueHatbRit commented on #36
This should be resolved with the 2.0.0 Puppeteer based release but please check the release notes before upgrading!

[2019-01-19 21:35] #36 closed

[2019-01-19 21:36] BlueHatbRit commented on #11
This should be resolved with the 2.0.0 Puppeteer based release but please check the release notes before upgrading!

[2019-01-19 21:36] #11 closed

[2019-01-19 21:47] BlueHatbRit commented on #41
MDPDF 2.0.1 now matches the latest Showdown output shown in the above comment, this was done by updating to the latest version of Showdown. If this isn't the expected behaviour then we should look at reporting it to that project and see if they think this is how the md spec should be interpreted.

[2019-01-19 21:47] #41 closed

[2019-01-20 20:03] jelisejev commented on #53
@BlueHatbRit no worries. Unfortunately, my use case for your project dropped, so I did not investigate the issue further.

[2019-01-20 22:39] BlueHatbRit commented on #53
@jelisejev that's a shame but thanks, it's rare I get feedback on the project, any chance you'd mind letting me know what your use case was and how it changed? I'm just curious, I see the downloads and the issues but don't often get to know how people (attempt) to use the project.

No worries if it's too much time to explain. None the less I'll take a crack and this issue.

[2019-01-21 01:05] mitesh-mokko commented on #59
Wonderful. I'll check.

[2019-01-21 10:47] BlueHatbRit commented on #47
This will be fixed in the v2.x released over the last few days. I've replaced Phantom with Puppeteer so you definetely won't get this issue anymore 🎉 sorry it's taken so long, I just do this in my spare time when I get some.

[2019-01-21 11:42] BlueHatbRit commented on #47
Just edited my above comment as I realised it was ambigious, the release went out over the last few days so it _is_ fixed not _will be_ fixed 😄

[2019-01-21 17:32] mitesh-mokko commented on #59
Just tested with the updated package (2.0.0) and this particular issue is solved.

[2019-01-21 17:32] #59 closed

[2019-01-21 21:47] BlueHatbRit commented on #59
Wonderful, thanks for the confirmation!

[2019-01-22 20:07] jelisejev commented on #53
I was working on some materials that I wrote as markdown and wanted to
publish as a PDF. I've done one and published it on
https://www.devtrails.io/. I chose your tool because it seemed to be the
easiest one to use.

However, now I don't have much time to work on the project so thus the use
case is gone. Otherwise, your project is great. This is the only issue I've
encountered so far because I wan

[2019-01-23 10:19] BlueHatbRit commented on #53
@jelisejev brilliant, thanks for the info on the use case!

[2019-01-28 18:08] brunodantas opened #60 ""Failed to download Chromium r609904!" when installing"
[code]

[2019-01-28 18:09] brunodantas commented on #60
Solved with the following line. The environment variable needed to be all lowercase.

`sudo npm config set puppeteer_skip_chromium_download true -g`

[2019-01-28 18:09] #60 closed

[2019-01-28 22:48] BlueHatbRit commented on #60
This line confuses me as you installed using sudo, did you get the same error using non-sudo install? Are you behind a proxy or corporate firewall by any chance? I'm wondering if any of that could also cause the download to fail somehow thus resulting in an issue further down the line.

[2019-01-29 21:33] brunodantas commented on #60
I couldn't install without sudo either, but I don't remember the error. I was not using any proxy or firewall as far as I know.

[2019-02-06 09:00] ShaulEngler commented on #60
this happens without sudo in an `ubuntu:16.04` based docker image
with node 8 and npm 6.1.0
when executing:
`RUN npm install -g mdpdf@2.0.1`

tried to `--unsafe-perm` which solved installation but failed in usage

[2019-02-08 13:18] brunodantas opened #61 "ReferenceError: path is not defined"
Trying to run on Ubuntu 16:

[code]
with `node v11.8.0`, `npm 6.5.0`

[2019-02-08 13:47] BlueHatbRit commented on #60
That's incredibly strange, I'll try this over the weekend and see if I can recreate it. I don't quite know how that could be anything in the code of this module, it feels like an issue with either puppeteer or npm but if I can recreate it then I can dig further. @ShaulEngler, are you behind any sort of proxy?

[2019-02-08 13:47] BlueHatbRit commented on #61
@brunodantas what did you try to run, I'm guessing this is from calling via cli rather than the js api?

[2019-02-08 13:55] brunodantas commented on #61
Yes, I ran:

`$ mdpdf file.md`

[2019-02-11 15:19] lehenric commented on #61
I am having same issue with `2.0.1`, reverting back to `1.7.3` helped.

[2019-02-11 21:18] BlueHatbRit commented on #61
Thanks, I'll check it out now

[2019-02-11 21:23] BlueHatbRit commented on #61
Hey @brunodantas and @lehenric could you give me the following details please?

1. Operating system
2. Nodejs version
3. Installation method (npm local install, npm global install, yarn etc)

I'm struggling to recreate this locally at the moment.

[2019-02-12 01:59] pixelsonly commented on #61
@BlueHatbRit I'm also running into this issue. Here are my specific details.

`macOS 10.14.3`
`NodeJS v10.15.0`
`yarn v1.13.0`

Installed `mdpdf` globally with Yarn
[code]

When running via `cli` is also see a similar error:
[code]

[2019-02-12 08:47] lehenric commented on #61
@BlueHatbRit
1. Fedora 29 on `4.20.6-200.fc29.x86_64` kernel
2. node v10.11.0
    npm 6.4.1
3.  Installed via `npm` globally and running only through `cli`
[code]
Don't know if it's really important but I have `node` installed in my home directory.

Also here is stacktrace from error:
[code]

[2019-02-12 17:38] BlueHatbRit commented on #61
Thanks so much, I'll take a look and see if I can get this reproducing!

[2019-02-12 18:20] pixelsonly commented on #61
@BlueHatbRit looking like the common denominator may be the global install :)

[2019-02-13 10:17] BlueHatbRit commented on #61
@pixelsonly it does seem that but I've installed globally on several machines without an issue using npm which is confusing and makes this awkward so I'm going to take a look at the code as well and see what's going on.

Does anyone have an example markdown file they can provide that they've been using? I have a feeling it might have something to do with image processing.

[2019-02-13 10:34] lehenric commented on #61
@BlueHatbRit

That's quite right, I've just tried using `2.0.1` on other `md` file without images with success.

Unfortunately I cannot share `md` file I was trying to convert but I included images with this syntax:
[code]
Maybe something with images in different path than `md` file?

[2019-02-13 10:36] BlueHatbRit commented on #61
No worries that's more than enough for me to go on. Mdpdf has to convert paths from relative to aboslute when processing pdf's due to puppeteer so judging by the stack trace that's somehow returning `undefined` are you able to show me the directory tree and the exact (well, masked) path you're using in the markdown? @lehenric

Thanks so much for your help debugging this everyone, it's made this a

[2019-02-13 11:53] lehenric commented on #61
Sure @BlueHatbRit,  (masked) output of `tree`:
[code]

And path is almost same as in my previous comment:
[code]

[2019-02-13 13:36] BlueHatbRit commented on #61
Thanks @lehenric! For a quick fix, I think you could use `./images/image1.png` which I _think_ should fix it, I'll take a look and get a proper fix for this though.

[2019-02-14 18:11] pixelsonly commented on #61
@BlueHatbRit I think you're onto something there! I failed to mention that my markdown source was also loading some relative images.

[2019-02-17 22:34] BlueHatbRit commented on #61
If prepending the `./` worked then I think it will be this issue, did it work? 😄

[2019-02-18 14:18] lehenric commented on #61
Unfortunately this does not work and I get same error as without explicitly saying it's in current directory. Also stacktrace is same as previous one.

I use version `1.7.3` as a workaround right now.

[2019-02-18 15:40] BlueHatbRit commented on #61
Sorry this has taken so long, I've found the issue and made the fix. I'll be making a new release in the next 12 hours.

[2019-02-18 15:57] BlueHatbRit commented on #61
I've pushed a fix to the master branch which is usable if anyone wants to get access immedietely. You should be able to clone the repo, `npm install` and `npm link`. I'll make a release to npm in a few hours, I forgot to bring my signing key with me today.

[2019-02-18 16:20] lehenric commented on #61
Thanks for a fix @BlueHatbRit! Tried out new version from master and it works.

Also when creating `pdf` I got some, I guess, debugging output. Output is something like this:
[code]
I know it's not really a bug or anything but if I recall correctly, previous version with working image inclusion did not have this output.

Also installed via `npm install && npm link`. My knowledge about npm, it's pa

[2019-02-18 16:56] BlueHatbRit commented on #61
@lehenric I left this in for a moment for anyone that wanted to test, it'll get removed before the release is made, thanks for pointing it out though! I just wanted to be able to get a bit of debug information if anyone did try it out and had issues again.

[2019-02-18 16:59] BlueHatbRit commented on #61
I've removed this logging now on master if you wanted to pull an update. You won't need to `npm install` or `npm link` again. A release will be made once I get home and have access to my signing key and then you can continue on as normal!

[2019-02-18 20:20] BlueHatbRit commented on #61
This has been fixed in version 2.0.2 which is now published to npm. Thanks for all your help and contributions!

[2019-02-18 20:20] #61 closed

[2019-02-25 05:04] thekevinscott opened #62 "Specifying highlight.js theme?"
Hi there! Just stumbled across this and I really dig what `mdpdf` can do so far.

Is there a way to modify the default highlight.js styles?

I've played around with manually overriding CSS (aka, `.markdown-body .highlight pre`) which works fine, but I'd love to be able to switch hljs themes without manual CSS.

I didn't see anything in the documentation though I do see some closed issues around hi

[2019-02-26 22:55] thekevinscott opened #63 "Support for custom page numbers"
I'm trying to generate a PDF with the intro pages numbered `i ... iv`, and the 5th page starting at 1.

In the README it's stated that Puppeteer has considerably less support for header and footer styling, and I can't find anything that would indicate control over manipulating the page numbers directly. [This thread](https://github.com/GoogleChrome/puppeteer/issues/2167#issuecomment-425448926) see

[2019-03-04 11:42] BlueHatbRit commented on #62
We don't have anything for this right now but I'd be open to a pull request if you want to add it. Mdpdf is about customisation so if we can find a tidy way to include further customisation then that would be neat, but as you said you could include a full override of the styles in a custom css file. This would make your css file quite large but it does mean it's possible.

If you have a proposal,

[2019-03-04 11:47] BlueHatbRit commented on #63
Puppeteer doesn't support much in the way of page number configuration as you've noted, the thread you linked seems interesting and I feel like it might be possible to use that sort of approach but I'll be honest in that I don't quite know when the JS would be executed or how you'd determine what page you're on (especially if the JS is executed before the pdf is formatted into split pages).

If yo

[2019-03-04 14:04] thekevinscott commented on #62
That makes sense.

I ended up wanting to go with a theme from PrismJS, so what I'm doing is preprocessing code blocks myself as `<pre />`s and applying the appropriate prism class name, and including the stylesheet in the css file.

Works for my use case, so I'm going to close this issue.

[2019-03-04 14:04] #62 closed

[2019-03-04 15:05] thekevinscott commented on #63
I've dug a little bit deeper, and from what I can tell there's very little configuration ability on the Puppeteer side.

Is it fair to say that #31 is also blocked by lack of support for a better puppeteer page numbers API?

I may look into a tool like hummusjs, which ostensibly is a tool for stitching together PDFs, and combine with `mdpdf` to try and generate custom page numbers, but I think I'l

[2019-03-05 01:34] thekevinscott commented on #63
I was able to achieve what I needed with a combination of `mdpdf` and `hummusjs`.

My workflow is to write out each chapter as a separate PDF file with `mdpdf`, add page numbers with `hummusjs`, and then (presumably) create a Table of Contents also with `hummusjs`.

Bummer to not do everything in `mdpdf` but I think its hands are tied by Puppeteer's limitations for now.

Thanks again for an awesom

[2019-03-05 01:34] #63 closed

[2019-03-05 12:00] rask opened #64 "font-size not respected in generated PDF"
I'm using `mdpdf` to generate documents with a custom CSS stylesheet. In my CSS, I have

[code]

and I invoke `mdpdf` as follows:

    $ mdpdf document.md --style styles.css

No matter what I do, the `font-size` in the rendered PDF stays the same (looks like 8pt or something). The `body` has the only `font-size` declaration so nothing is overriding it as far as I can tell. Is there any way to debu

[2019-03-05 12:13] rask commented on #64
Okay, found out about the `--debug` switch.

My problem stems from the magically injected CSS block:

[code]

Where that `.markdown-body` class is magically applied to my document, overriding my `font-size` definition.

Any idea how this can be disabled (I prefer not to add `body.markdown-body` to my stylesheet as it may be used elsewhere as well)?

[2019-03-05 13:27] BlueHatbRit commented on #64
Hi there @rask, you're totally right about the additional css that's added. This is a very thin layer of bootstrapped css which is added to make all pdf's display reasonably with minimal css changes. I think the default fontsize is something like 28 which starts to look really weird and makes the user experience a bit naff.

The default css can be disabled via the JS api but not by the cli because

[2019-03-05 13:31] rask commented on #64
I see. Thanks for clarifying. I filed this issue mainly because this did not happen on a version I used a few days back on my other PC, and now it caught me off guard. I agree: making it clearer in documentation is probably the sanest fix for this.

[2019-03-05 13:32] BlueHatbRit commented on #64
Fantastic, thanks for your input @rask, I'm always open to issues being opened, especially around the UX.

I'll see about adding some documentation this week, I just got back from a holiday so I'm a bit behind so it might take a day or two.

[2019-03-05 13:34] rask commented on #64
A though crossed my mind just now: would it be silly to use `html` instead of `body` for the injected `font-size`? I presume only a few CSS authors would set their baseline `font-size` into `html` instead of `body`? Or is there some technical limitation to using `html` for this?

[2019-03-05 14:34] BlueHatbRit commented on #64
I'll be honest off the top of my head I can't completely remember but I'm pretty sure it's because of the default styling generated that was used. The generator takes styles from github's markdown renderer and builds a css stylesheet out of them and that assumes a top level class of `markdown-body`. So I could go through and edit that css file to do this but if we want to add any pre-processing to

[2019-03-17 18:39] enisz opened #65 "Cannot read property 'top' of undefined"
Hi @BlueHatbRit,

I'm just trying to generate a PDF from a markdown file but I'm facing the issue mentioned in the title. I would like to make this work in a Typescript Node.js project (maybe this has something to do with it).

The related section of my code is:

[code]

With the debug option enabled I can see the temporary HTML file, but for some reason the PDF is not generated. The exact error m

[2019-03-17 20:37] enisz commented on #65
I have tried to make it work as a standalone project without typescript, but got the same error with the example script in the README

index.js
[code]

output:
[code]

[2019-03-18 10:10] BlueHatbRit commented on #65
Hi @enisz, thanks for the bug report, especially the code samples and stack trace. Let me take a look, it seems to be coming rfom Puppeteer but obviously that'll be due to something either mdpdf is pushing in, or something it's letting you push in. I'll debug this and will find the issue and will report back asap.

[2019-03-18 10:35] BlueHatbRit commented on #65
I've found the issue, it's todo with the way we construct the margin options for puppeteer inside our options helper. It seems it was working properly for the cli but failing on the js api, I guess not many people are using the js api (don't worry, it'll keep existing, I need it to).

I've corrected the issue and made more checks around it. I'll commit the fix but I don't have my keys on me to do

[2019-03-18 13:37] enisz commented on #65
Thanks for the fast response!

I'm not home either so I can test it in the afternoon. From the documentation it's not clear for me how to set the border property in the options properly. Does it look like this?

[code]

Thanks!

[2019-03-18 17:25] BlueHatbRit commented on #65
@enisz you're right that isn't clear, I'll see if I can add more documentation for the JS api. When in doubt, you can check the `./bin/index.js` file which is the cli script that makes use of the JS API.

So you will want to nest the border inside the "pdf" options, as such:

[code]

[2019-03-19 08:20] enisz commented on #65
With the updated options object it is working like a charm
[code]
I will check out the index.js in the bin folder as well.

Thanks!

[2019-03-19 09:55] BlueHatbRit commented on #65
Brilliant thanks @enisz, I'm going to re-open this until I've got the release out with the fix so I can track it a bit easier 😄 also hopefully people won't report it multiple times as well.

[2019-04-08 17:18] josefhammer opened #66 "Option --no-emoji not working"
Hi,

I have the issue that in the code section of a document there are several `:x:` which are converted to emojis.

For one thing, I was surprised that emoji-conversion takes place in pre-formatted text ... I would not expect that. Anyway, when I tried to switch off the conversion with '--no-emoji', the conversion still happens.

Any idea on how to disable the conversion?

Thanks a lot,
Josef

[2019-04-08 17:26] josefhammer commented on #66
After looking at the source code I tried `--noEmoji` which seems to work.

[2019-04-12 19:20] enisz opened #67 "The "path" argument must be one of type string, Buffer, or URL. Received type boolean"
Hi @BlueHatbRit,

I was trying to generate a PDF file with your module with the programmatic API and I would like to keep the generated temporary HTML file (passed the ``debug: true`` to the options object). When the program is executed I get the error message mentioned in the title. I was using the following code (this example code is from the README):

[code]

This is the full output of the prog

[2019-04-12 20:20] BlueHatbRit commented on #67
Hi there @enisz, thanks for reporting this one, it's pretty weird! Sorry the example hasn't worked for you first time around, I'll take a look now since I have some time but may not be able to get back to you until the morning (UK time).

[2019-04-15 10:22] BlueHatbRit commented on #66
Oh that's peculiar, thanks for reporting this I'll fix the flag / documentation. Thanks!

[2019-04-15 10:26] BlueHatbRit commented on #67
Hi @enisz, so sorry for the delay. The weekend was very busy and I unfortunately can only maintain this in my spare time.

I've just had a look and it would seem the documentation example is out of date which is really awful, so sorry! The `debug` option should actually be the path you wish to save the html debug file.

I hope this hasn't delayed you too much. I'm going to update the documentation

[2019-04-15 10:48] #66 closed

[2019-04-15 10:54] BlueHatbRit commented on #67
Docs are updated in released in 2.0.4 😄

[2019-04-15 10:54] #67 closed

[2019-04-15 15:34] enisz commented on #67
Hi @BlueHatbRit,

No problem at all, thanks for checking it! My application is still in testing phase.

Thanks for your time!

[2019-04-15 15:46] BlueHatbRit commented on #67
Great, feel free to open a ticket if you notice any other issues or have any questions.

If you're able to, it would be really great to know what sort of application you're building so I can better understand how mdpdf is being used in the wild. I understand that may not be possible though :)

[2019-04-15 19:08] enisz commented on #67
We need some kind of automated solution to process our software's install manual. The final document can contain different paragraphs and steps depending on our client's IT infrastructure. At the moment editing the word document is a manual task.

Now I'm converting this word document to markdown files (several files actually) and my program will gather these individual template files using a docu

[2019-04-15 20:33] BlueHatbRit commented on #67
Sounds like a great use of mdpdf! Good to know people are using the api as well, I thought most people just used the cli. Do feel free to send PR's or put in feature suggestions, I don't get a huge amount of time for it these days but I'm always looking to improve the project when I can.

Thanks for sharing the details :)

[2019-05-01 15:05] owap commented on #46
Just wanted to weigh in and say that fixing these new lines after single line breaks is the one and only thing on my wishlist for `mdpdf` 👍

Because it's coming from the HTML generation, it doesn't really seem like something that can be patched with CSS tweaks, otherwise I'd drop in a style fix as placeholder.

Thanks for your hard work on this library!

[2019-05-07 09:46] mystikxkemix opened #68 "[Feature] Add Mermaid support?"
I love using your module to convert my meeting report into PDF.
Is it possible for you to add mermaid support into your converter?

https://mermaidjs.github.io/

[2019-05-07 12:09] BlueHatbRit commented on #68
Hi @mystikxkemix, thanks for the feedback on mdpdf, great to know how you're using it as well!

This looks like something that could be useful for mdpdf and I'm always up for helping improving the documents people are able to produce. I'm not sure I've got the time required to sink into building this out right now but if someone were to submit a pull request I'd be happy to review it.

If anyone w

[2019-05-15 16:35] guilhermedelyra opened #69 "cant install in debian stretch"
running:
`~$ sudo npm install mdpdf -g`
outputs:
[code]

[2019-05-15 22:59] BlueHatbRit commented on #69
Hm, this is one people seem to have run across in the past but I can never seem to recreate it. It looks to be an issue for a lot of npm global installs across numerous modules. I've seen some people having success with this approach before https://github.com/gdotdesign/elm-github-install/issues/21#issuecomment-308207231

Essentially, create the directory it's failing to create, and chown it for y

[2019-06-12 15:43] CTXz opened #70 "/usr/local/bin/mdpdf uses CRLF linebreaks"
When installing mdpdf via:

[code]

on Ubuntu 18.04 LTS with NPM version `3.5.2` I receive the following error when I attempt to execute mdpdf:

[code]

As it turns out the script under `/usr/local/bin/mdpdf` uses CRLF linebreaks. Changing it to LF in an editor, such as Atom, fixes this issue.

Oddly, this issue does not occur when installing mdpdf from source.

[2019-06-13 11:40] BlueHatbRit commented on #70
Strange, it looks fine for me when I clone it down. I'll check over my git settings and see what might be the problem but the fact that it's okay when you clone and build from source, makes me wonder if this is actually an issue with mdpdf.

None the less, I shall check!

[2019-06-13 11:53] BlueHatbRit commented on #70
I've just cloned the repository fresh and checked the line endings:

[code]

[2019-08-06 17:25] abegosum commented on #70
I can confirm, I also can't use the npm installation out of the box due to line breaks breaking the shebang execution.  After upgrading, I receive the error `: No such file or directory` on CentOS 7.  Running `dos2unix` on `/usr/lib/node_modules/mdpdf/bin/index.js` resolves the issue.  Below are my troubleshooting steps.

[code]

[2019-08-06 21:15] BlueHatbRit commented on #70
I honestly have no idea how this is happening, the files are all `lf` line endings when checked out in git. I only develop on this project on unix machines. I'll take another crack but this is starting to sound like an NPM issue rather than one caused by MDPDF :/

[2019-08-29 13:04] hervehobbes opened #73 "How to create a footer with pagination"
Hello,

Sorry if this question is obvious but I can't find how to create a footer (for example with an html files), that will contains the current page and the total page number, something like this:

`Page {{pageNumber}} / {{totalPages}}`

For example

`Page 1/5`

If I write this inside my html footer, it is rendered, in the PDF, as is...

Thanks by advance

[2019-08-30 21:00] BlueHatbRit commented on #73
Hi @hervehobbes this is a perfectly valid question. Sadly right now it can't be supported, it used to be when we used Phantom.js to generate our PDF's but since Phantom has been deprecated and development has stopped, we've been forced to move to Chrome Puppeteer. Puppeteer however doesn't support pushing in page numbers into a PDF. It's unspeakably terrible of them but it's what we're left with r

[2019-08-31 07:59] hervehobbes commented on #73
Hello @BlueHatbRit,

Thank you very much for your answer and suggestion.

Bye,
Hervé

[2019-08-31 20:48] #73 closed

[2019-11-12 16:09] MartinDelille opened #75 "No error code when file doesn't' exist or isn't a markdown file"
I noticed the `mdfile` executable doesn't return any error code if the file passed in parameter doesn't exists or isn't a markdown file.

[2019-11-13 22:39] BlueHatbRit commented on #75
Huh you seem to be right, this isn't something I've ever really had an issue with but it's a sensible thing for us to do. I'd welcome any patches if someone wants to submit one which implements this 😄

[2020-01-23 17:29] lud commented on #46
I'll add my support to allow us to write markdown properly in our text editor with a 70 chars line width but put all lines of a same paragraph on the same html line.

[2020-01-23 19:46] BlueHatbRit commented on #46
Hey all, thanks for keeping on this, I appreciate seeing what people want from the library and the thoughts and work towards a good solution are much appreciated.

@lud which flavour did you select, "vanilla"? I'm up for considering a change to the flavour, but I think I'd want to keep the default as `github` to avoid a breaking change. The reservation I have is that we're then asking the users to

[2020-01-23 22:21] lud commented on #46
Hey :)

I personally do not care about the flavour as long as it treat single line breaks as mere whitespace, I assumed vanilla would have some improvements over the original one so I picked it.

I also kept gh styles : `./node_modules/.bin/mdpdf mydoc.md --style=style.css --gh-style`

I don't understand why github decided to break html lines for each markdown line. There are many ways to write a

[2020-01-24 10:50] lud commented on #18
It does not work for me.

Please see this small example. run `make install` and `make` to run the sample.

[mdbug.zip](https://github.com/BlueHatbRit/mdpdf/files/4107946/mdbug.zip)

[2020-01-24 21:37] BlueHatbRit commented on #46
You know, I'm not entirely sure that the linebreak in normal github markdown does force a line break see - https://gist.github.com/BlueHatbRit/0b9d580d2f7a025cefbcc4fbb20d8dbf (raw vs rendered). It looks like it may well be a bug in showdown which you could open a bug report for?

That said, offering the flavour option may not be a bad idea in general. People prefer may different implementations,

[2020-01-24 22:26] lud commented on #46
Well the behaviour
is different in than
the comments !

I'll try that with a README someday :)

[2020-01-27 11:25] lud commented on #18
One option could be to base64 encore images `src`

[2020-02-03 12:41] mkukulka opened #79 "Linked image in HTML is missing."
Hi,
I saw in Closed issues that this bug was fixed. Netherless I still get the problem. I want to add image to footer of generated PDF. Image is stored locally. My html code looks like:
`<img src="./images/footerjpg.jpg" alt="obrazk do footera" width="500">
<br/>
<p style="text-align: center; font-size: 10px;">Test wklejenia HTML w markdown</p>`

I attach an image of generated PDF's footer.
![Adno

[2020-02-03 14:53] BlueHatbRit commented on #79
#18 was the original issue for this, also ccing @lud since they've posted on there recently.

First off, really sorry about this, clearly this is an issue. I've got the zip from the previous issue, I'll take a look at this asap and try to figure _why_ it's happening. Hopefully it won't be a tough fix if I can get to the bottom of it quickly. If you have further examples then please add a preformat

[2020-02-04 07:23] mkukulka commented on #79
Hi,
Please download files I use to generate PDF:
https://integroit-my.sharepoint.com/:u:/g/personal/maciej_kukulka_it_integro_pl/EWdKvpbLjvtLpvv-ukERN2YBhunnuSpQ8kFX0GjrMr09oQ?e=22fj95
link expires 05/02/2020.

[2020-02-16 00:46] jooola opened #80 "EXDEV: cross-device link not permitted"
I'm facing this issue with Atom. Any chances to fix this ?

[code]

[2020-02-17 17:16] BlueHatbRit commented on #80
This is because mdpdf first creates the html file as _temp.html in your directory. It then attempts to rename this to debug.html. I'm not sure why it's getting `/tmp/debug.html` though as it should be forcing it into the same directory as your md to put them together.

How are you trying to run mdpdf, what options is it recieving?

[2020-02-23 00:16] nottoseethesun commented on #69
`--unsafe-perms` worked for me: https://github.com/nottoseethesun/Gridcoin-Tasks/blob/whitepaper-economics-update-and-edits/.github/workflows/build.yml#L17

[2020-03-08 03:25] jooola commented on #79
Unsure if this one is related
[code]

[2020-03-08 16:21] travs commented on #80
Hey @BlueHatbRit , just getting back to testing this in atom `markdown-pdf` package, and this is the error I get as well. I think @jooola is running into it in the same context (converting the README.md from the markdown-pdf repo).

[2020-03-08 16:27] travs commented on #80
This is the offending line from my package:

https://github.com/travs/markdown-pdf/blob/8c06498bfc8461bafcb636c636551dcaf035567d/lib/markdown-pdf.js#L93

I will make it default to the same directory as the PDF being generated instead of `/tmp/`.
I think something funky is still going on here though, since the user running the `atom` process _should_ have permission to write to `/tmp`.

[2020-03-08 18:29] jooola opened #83 "Enhance project organisation"
I'd like to enhance the project organization:

- Cleanup old files and add some useful files #82
- Enhance prettier scope and add eslint to check for the code.
- Use jest for easier and more testing.
- Setup good CI/CD with linting, testing and **releasing**.
- Slowly migrate to typescript.

But as shown in the contributing document I wanted to first discuss changes in here.

Some point are almost

[2020-03-08 19:48] jooola opened #85 "Remove hard dependencies"
Some dependencies are imported in a vendor style.
Such as github flavored markdown css files, or even highlight.js library.

We should import such dependencies using the package manager and link appropriated files from node_modules.

[2020-03-08 20:07] jooola opened #86 "Don't load files, use raw data"
I would like to propose a breaking change (maybe  it is one).

In order to simplify the usage of this library (it is a library before being a CLI ?), I propose to change any custom template options such as styles, header or footer, to be imported as raw data in a buffer|string, instead of using file paths. Same could apply to the markdown data.

This should allow more flexibility and remove some u

[2020-03-08 23:59] BlueHatbRit commented on #83
Hi @jooola, thanks for the thoughts 😄 I'm glad you're interested in keeping the project alive and thinking about the longevity of it.

First of all, I don't think any of these suggestions are bad or wrong, they're great and I really appreciate having them proposed! Mdpdf is a small portion of my time and I'd like to see it remain easy for others to work on. I've got a bit of gut-reaction feedback

[2020-03-09 00:03] BlueHatbRit commented on #80
Thanks for the added detail here @travs, the PR looks good to me. I just want to spend a few minutes giving it a good test in a few different scenarios to check everything is ok. If that's all good then I'll roll this into a patch release.

[2020-03-09 00:09] BlueHatbRit commented on #86
Hey, so actually mdpdf is primarily a CLI tool with the JS api being secondary, or at least it has been in the past. I originally created it during my degree as I needed a way to format some lab reports with code snippets and using Ms Word was killing me!

I still very much see the CLI as the primary method of use for the module. The JS api is still important and with it's wide use in the atom pac

[2020-03-09 18:19] travs opened #87 "Add LaTeX support"
Could be added as a preprocessor, showdown plugin, or something else.

From [this discussion](https://github.com/travs/markdown-pdf/issues/117#issuecomment-596684719).

[2020-03-10 03:57] travs opened #88 "Handle Metadata defined at the top of a md file"
Right now the metadata is displayed between literally, between two horizontal lines.
We could handle this with showdown, and either ignore it as output, or add metadata to the html.

[code]

[2020-03-10 11:31] #80 closed

[2020-03-10 11:36] BlueHatbRit commented on #83
Updated:
* I've just realised that I already automated releases a few months back, so that's already working :)

[2020-03-10 11:37] BlueHatbRit commented on #80
This has been fixed in 2.1.1 🎊

[2020-03-15 01:37] travs commented on #73
Hey Elliot, was wondering if this is supported now in puppeteer. It [looks like it to me](https://github.com/puppeteer/puppeteer/blob/v1.11.0/docs/api.md#pagepdfoptions), but I can't get page numbers to render when I pass mdpdf something like:

[code]

Maybe I'm just missing something about how puppeteer works here though.

@BlueHatbRit

[2020-03-15 01:42] travs commented on #86
Hi, just adding my 2 cents.

Changing to using raw data would help for projects that consume mdpdf like atom markdown-pdf. When we would pass in an html string to be rendered from the atom settings panel, right now we would have to write out an intermediary temporary file with those contents, then pass the file handle to mpdf.

I think @BlueHatbRit's idea about the CLI UI is correct (passing file

[2020-03-16 13:23] BlueHatbRit commented on #86
Yeah this is true we could do it for the md->html step and allow a string or buffer to be passed through.

Okay I think you've both sort of convinced me for the most part. I think if we did this I'd probably want to support both options through the JS api though as it would make maintaining the CLI easier and it would allow people to continue using it with files as they already are.

If we could h

[2020-03-29 22:48] hoob3rt opened #89 "code syntax highlighting broken"
I can pretty easily break syntax highlighting in the whole file if i leave out a single code element without specified language
![bug](https://user-images.githubusercontent.com/41551030/77863099-22684480-7220-11ea-9a3f-afd8c14ea6e2.png)

[2020-03-30 13:59] BlueHatbRit commented on #89
Hi @hoob3rt thanks for reporting this, we use a dependency called highlightjs for this and don't have much control over it's processing of the syntax highlighting.

This may be something that's resolved in a newer version of highlight so I'll see if I can bump the version when I get some time (unless someone wants to submit a pr). If this is still persent in more recent versions of highlight then

[2020-04-05 09:09] ncpenke commented on #89
I ran into the same issue and thought syntax highlighting wasn't supported at all. Running it through showdown-highlight (which internally also uses highlightjs) seems to work ok. Please let me know if you're interested in taking the patch:

https://github.com/ncpenke/mdpdf/commit/c4d3b64e723ed89d4b064b249000f2c5a5a300f2

[2020-04-06 12:14] jooola commented on #79
Any update on this one ?

[2020-04-06 16:04] BlueHatbRit commented on #89
Hey @ncpenke that looks great and much more stable, I'd definetely be interested in taking that patch. Would you like to open a PR for it? Don't worry about purging my implementation of highlightjs, I can rip that out before releasing.

[2020-04-06 16:07] BlueHatbRit commented on #79
Hey, sorry I've not had a chance to look at this recently. The whole covid-19 thing has me snowed under at work and life so I don't have a huge amount of time right now. I did pull the project zip file though so I can investigate when I get a bit of time. I'm looking forward to trying to track this one down, but until then if anyone else wanted to have a crack then I'm happy to look at PR's or rev

[2020-04-07 07:21] ncpenke commented on #89
Great! PR here: https://github.com/BlueHatbRit/mdpdf/pull/90. Please let me know if you'd like me to make any further cleanup.

[2020-04-07 08:49] BlueHatbRit commented on #89
Thanks for that @ncpenke, and you're welcome it's great to see people finding value in this years after I built it!

I'll get that reviewed and will try and rip out the existing highlightjs asap, i'll post back here and in the PR when there's been a release.

[2020-04-07 15:22] BlueHatbRit commented on #89
That's been merged into master and tagged as 2.1.2, I'm going to do some more testing before pushing it to npm, if anyone else is able to do a quick test that would be smashing!

[2020-04-08 15:06] BlueHatbRit commented on #89
2.1.2 has gone out on npm now and should be available for download. Thanks for your contributions everyone 🚀

[2020-04-08 15:06] #89 closed

[2020-04-09 15:24] ncpenke commented on #89
I just did a test on 2.1.2 and it works as expected! Thanks again for incorporating this so quickly!

[2020-04-09 15:34] BlueHatbRit commented on #89
No problem, thanks for the code submission. It's always a lot lot easier to find time to do clean up, testing, and a release rather than implement a full feature of track down a bug from an issue. I try to pay respect to people who are able to and have the time to submit code changes, it's really appreciated and helps me (and the users) massively.

[2020-05-14 00:01] amlweems commented on #46
Per [this comment](https://github.com/showdownjs/showdown/issues/405#issuecomment-310393102) on an issue in showdown, I believe this can be fixed with by setting `simpleLineBreaks` to `false`. For example:

[code]
I've tested locally and it appears to have the desired effect.

[2020-05-19 10:42] BlueHatbRit commented on #46
Thanks for that amlweems, that looks like a good toggle, I didn't see that in the docs when I went through the first time.

I'm going to have a think about this over this week. On the one hand I don't want to break existing pdfs and force a major version bump. On the other hand, it seems like something that's not really worth a toggle on it's own. We could perhaps expose flavours and have a github

[2020-05-19 10:49] lud commented on #46
If that would me be, i'd turn `convertEmojis` and `enableHighlight` into an options object that also has a `parserOptions` property, and just forward this property to the parser _without_ adding current options (like `prefixHeaderId: false`) as defaults as the user expects the parser defaults to be … defaults.

(Or just add `parserOptions` as a fourth argument but this is not futureproof).

So the

[2020-05-19 15:18] davelab6 opened #91 "Thai mark positioning not working"
A user reported a font issue, but the font works in regular Chromium, so I guess it is a mdpdf bug

https://github.com/cadsondemak/kanit/issues/10

[2020-05-22 09:23] GiggioG opened #92 "command line script closes the batch script"
I have a back script, that uses `mdpdf file.md export\pfile.pdf` and the some other batch code,  but the other batch code doesn't get executed. I looked at the mdpdf.cmd file in `C:\Users\USERNAMEHERE\AppData\Roaming\npm`, but it uses `EXIT /B`, but I thought that was supposed to quit only the current batch script `(mdpdf.cmd)`, and not the big one.

[2020-05-27 15:58] BlueHatbRit commented on #92
Hey I'm really sorry but I don't know much about windows batch files, it's been years since I've done any dev work on a windows machine. I've not had any issues the few times I've used mdpdf on windows though, could you provide a full script that reproduces the problem and I'll try and take a look on a family members computer?

[2020-06-09 16:43] Keksoj commented on #46
A flavour toggle seems like an excellent idea to me. I've got 70-chars large markdown paragraphs that end up filling only half the width of an A4 paper sheet because each newline has been converted to `<br>`.

I'm confident this is NOT the standard behaviour expected when rendering markdown.

A fix would make me very grateful.

[2020-06-26 09:17] marwie opened #93 "Question/Feature: Merge multiple markdown files"
Hello,

great tool! Would it be possible to add support for merging multiple files into one pdf? Or is it already possible?

Kind regards, Marcel

[2020-06-30 09:14] BlueHatbRit commented on #93
Hi @marwie this isn't something we support at the moment. What sort of use case do you have, and what kind of results do you expect?

[2020-07-15 19:33] GiggioG commented on #92
Sorry that I didn't close it sooner. I now know what I did wrong. For everyone, link to stackoverflow [here](https://giggiog.github.io/rikrold.html?https://stackoverflow.com/questions/61954337/mdpdf-closes-batch-script). I will now be closing this issue. Bye.

[2020-07-15 19:33] #92 closed

[2020-08-27 10:25] marco-zanella commented on #69
`--unsafe-perm` did the trick for me too, here the actual command:
    npm install -g mdpdf --unsafe-perm=true
taken from here: [https://github.com/puppeteer/puppeteer/issues/367#issuecomment-499315095](https://github.com/puppeteer/puppeteer/issues/367#issuecomment-499315095)

[2020-12-30 16:43] dasheck0 opened #96 "Give an example on how to set border for API usage"
Hi,

I just used your package for the first time and it works pretty well. After CLI usage I  used it within my own code. Margin for pdfs were not set so I tried to set this as an puppeteer option. Since I worked with puppeteer before I knew that I had to set a margin object with the given margins and that's that. However it did not work. After digging in your code I found that the actual option s

[2021-01-03 20:44] BlueHatbRit commented on #96
Hi @dasheck0, thanks for spotting this one. I'll see about adding that documentation, it's a good catch on the mistake and lack of docs.

[2021-01-03 20:53] dasheck0 commented on #96
No worries. It worked like a charm after setting the correct attribute. So there are worse things than incomplete documentation :D

[2021-02-19 12:06] patrikjanson commented on #96
Not having any experience from before on using puppeteer, it took me a little too long to figure out that `border` should be an object with top, right, bottom, left. Perhaps that could be clarified in the docs as well? :)

[2021-03-19 09:50] norma-jeane-m opened #97 "How to resize the image"
Hi, How can I change the size of an image in markdown?
I usually used to the beyond two methods.

[code]

But when I converted from markdown to pdf using mdpdf, it didn't work it well..

Please give me some advice..

[2021-03-20 16:59] BlueHatbRit commented on #97
The markdown specification is quite... weak. Lots of different places implement it differently, we use Showdownjs as our markdown engine so they determine much of the implementation. Showdown doesn't handle image resizing that way sadly. Thankfully, you can just change your markdown image line into a line of html and it should work.

[code]

[2021-03-21 01:00] norma-jeane-m commented on #97
Thank you so much!

[2021-03-21 01:00] #97 closed

[2021-03-22 17:11] BlueHatbRit commented on #97
No problem :)

[2021-03-23 14:29] mcg1969 commented on #46
Looking forward to this myself.

[2021-04-08 00:50] adriaanvanrossum commented on #86
I'm using mdpdf to convert specific documentation pages to PDF. I don't have them locally on my server, but grab them from https://raw.githubusercontent.com/simpleanalytics/docs/master/_docs/10_general/10_what-we-collect.md for example. I do some front matter magic with `yaml-front-matter` which outputs a string. Would be great to use the string directly with mdpdf without the need to write it to

[2021-04-08 01:18] adriaanvanrossum commented on #88
I use https://github.com/dworthen/js-yaml-front-matter for that, works only with strings though.

[2021-04-19 13:49] orafaaraujo opened #99 "Cannot read property 'pre' of undefined"
mdpdf CHANGELOG.md

[code]

Hi, I'm trying to use the `mdpdf` but I'm facing the issue above.

My versions are
node: 15.5.1
npm: 7.10.0
mdpdf: 2.1.2

Any clue what might be happening?

Thank you

[2021-04-19 14:20] lonesomegeek commented on #99
Seems like a problem in showdown-highlight dependency.

Same problem here.

[2021-04-21 04:33] Turpoint commented on #99
Same here

[2021-04-21 07:39] orafaaraujo commented on #99
I could make it work using a fixed version:

[code]

[2021-04-22 18:38] dviljoen opened #100 "error while loading shared libraries: libXss.so.1: cannot open shared object file: No such file or directory"
Had the 'TypeError: Cannot read property 'pre' of undefined' issue previously reported so I downgraded to 2.1.1.  That version is giving me an error about a missing libXss.so.1 lib.

Note that I had to modify the puppeteer launch to fix running a headless chrome instance on windows (per their FAQ).

[2021-04-22 18:42] dviljoen commented on #100
FYI, I fixed my issue by:
$ sudo apt install libxss1

[2021-04-22 18:42] #100 closed

[2021-05-12 10:58] Flou21 commented on #99
same, with fixed version it worked

[2021-09-16 09:56] shafr opened #107 "Issues with E-paper readers"
Hello, I'm using mdpdf [to generate pdf's](https://github.com/shafr/CEH-in-bullet-points/actions).
Reading on PC/mobile phone is ok, but when I upload books to e-ink readers, i'm getting starange behaviour that black is not black but gray, so it's very hard to read from the book.
![IMG_20210916_115319](https://user-images.githubusercontent.com/26896695/133591661-ceeca79c-905c-441c-a640-f23730e96e1

[2021-09-16 19:23] BlueHatbRit commented on #107
The default styles applied are pulled from GitHub's markdown styling so the text isn't hard black but actually a dark grey which is probably causing the problem here. You can use the `--style`  flag to provide your own CSS sheet as shown in one of the examples https://github.com/BlueHatbRit/mdpdf#example-usage.

When using the CLI, passing in your own CSS will disable the default github style rath

[2021-09-17 03:23] shafr commented on #107
Thank you, that was very useful!

[2021-09-17 03:23] #107 closed

[2021-09-18 14:21] BlueHatbRit commented on #107
No problem, thanks for closing the issue :)

[2021-10-14 15:59] nopeless opened #108 "## doesn't work properly?"
[code]

Am I missing something?

[2021-10-16 04:26] nopeless commented on #108
oops
didn't test the example myself

I'll fix this issue later

[2021-10-16 04:34] nopeless commented on #108
Actually I can't seem to replicate this issue. I had multiple h2 headers breaking on me that night while rendering correctly on the preview. If I somehow encounter the same issue I'll reopen it.

[2021-10-31 13:33] jaan143 opened #109 "help"
first of all thank you for the script
i need some help about pdf file
1. when i convert pdf file inside pdf file every image bellow there is image file name showing which i don't want. file names are like this "image-OUTYI5U9.png"  "image-JY3NLUO9.jpg"
2. i want to increase font size of whole pdf file
3. i want to customize page size but not A4 or latter or A3. So can i add my custom size in inche

[2021-11-01 19:33] BlueHatbRit commented on #109
Hi, no problem I should be able to provide a little help on these.

1. It would be best if you could provide a sample markdown file + assets which I can use to verify some of the issues. I'd suggest uploading it as a public repo on github so it's easier to access.
2.  you'll need to include your own css stylesheet and probably use `--gh-style` to force the default style to be applied if you've not

[2021-11-02 08:12] jaan143 commented on #109
@BlueHatbRit  Dear
where i can send you sample ?
i want to send it as private so if you have email can tell me i will email you
thank you

[2021-11-02 08:55] jaan143 commented on #109
@BlueHatbRit  i want to use A5 paper size so how can i use
--format=<A5>
--format=A5

please tell me exact command about it
thank you

[2021-11-02 15:07] BlueHatbRit commented on #109
I would suggest sending a minimal example publicly if you can (create a new github repo, or upload a .zip here). We don't need your actual document, just something that will show the issue you're having.

Yes, `--format=A5` should get you an A5 pdf I think, you can checkout the Chrome Puppeteer documentation for specifics but I believe `A5` should work.

[2021-11-19 23:00] #109 closed

[2022-01-18 13:27] K0F opened #110 "UTF-8 chars"
Hi, I am not sure if it is typeface problem (?) or somewhat deeper one, but some of Czech letters, to name "ěď" are not rendered at all in resulting PDF (all the settings are default).. an encoding seems to be right in the source document. Thanks for any clue.

[2022-01-18 14:45] BlueHatbRit commented on #110
Hi @K0F, we use Shdowdownjs under the hood for markdown -> html before then rendering the html as a PDF via puppeteer. From what I can see Showdownjs handles it just fine and I can't imagine Chrome (Puppeteer) is having an issue so I'd suggest it's _probably_ the default typeface. You can change that through the CSS though, maybe try changing that to some kind of system default that you know will

[2022-01-18 17:17] K0F commented on #110
Ok thanks, I have suspected it.. it is often the case, I'll try it and let you know. Bests

[2022-01-19 12:51] K0F commented on #110
Confirmed, changing typeface did the trick, thanks @BlueHatbRit  for your kind support.

[2022-01-19 12:51] #110 closed

[2022-01-19 16:08] BlueHatbRit commented on #110
Glad to hear it, by any chance would you mind sharing what typeface you switched to if it's similar to our default? It might be worth me updating the readme for people who run into this in the future. No problem if you went for something totally different.

[2022-01-20 10:59] K0F commented on #110
I used Droid Serif.. I believe it has an open licence

[2022-01-20 11:00] K0F commented on #110
TeX Gyre fonts are working as well

[2022-02-01 02:38] darcyowens opened #111 "Issues controlling header and footer styles using a stylesheet"
Currently attempting to get styles applying to headers and footers using the API. I'm trying to use the examples given in this repo. Seems no style is applying, any insight or are headers and footers completely broken in v2 releases?

All I'm getting at the moment is a very small, illegible header.

Here's the code/stylesheet/header:

header.hbs
[code]

styles.css
[code]

index.js
[code]

Using `m

[2022-02-01 14:31] BlueHatbRit commented on #111
Sadly it's a deffiency in chrome's Puppeteer. MDPDF takes the markdown and converts it to HTML, and then uses Puppeteer to render the HTML and convert to a PDF. Puppeteer doesn't allow you to apply styles to heads and footers at the moment using CSS.

Previously in v1 we used PhantomJS which did allow this but that project is now deprecated and unmaintained so we had to make the shift to puppeteer

[2022-02-17 09:00] adriaanvanrossum opened #112 "Upgrade dependencies"
Hey @BlueHatbRit,

Would you be open to upgrading the dependencies to the latest versions? For example, it is still using puppeteer 2, which is probably a lot less secure than the latest version.

I see a few open PRs, so before I do any work, I would love to check in with you.

Regards,

[2022-02-17 10:03] BlueHatbRit commented on #112
Hi @adriaanvanrossum, I'd be open to reviewing and merging some PRs but to be honest I don't have time to do them myself right now, especially if they deal with larger breaking changes to various apis.

If you've got time and would like to submit some fixes you're very welcome to and I'll review them as soon as I can. Just as a disclaimer though, I am about to move house so there may be a few days

[2022-04-08 10:42] snprajwal opened #113 "Multi-line href extends to cover both lines"
If a hyperlinked text goes across two lines, the hyperlink is activated for all words present in both lines. Not sure why this is occuring. Looks something like this:

Consider these words going across the text box right now. Yes it's going, and it keeps going on and on until we reach [the end of the line](https://github.com/BlueHatbRit/mdpdf) and make a link. Now this link is clickable at any poi

[2022-04-08 14:48] BlueHatbRit commented on #113
Hi there, could you provide a full markdown text example and the full command / code you're using to reproduce this? Mdpdf doesn't really do any of the actual markdown -> html or html -> pdf conversion itself, it just stitches them together and applies styles etc. If you can provide a full example we can take a look in debug mode and see what the html output is to figure out where the issue is.

[2022-04-08 15:35] snprajwal commented on #113
Here's the raw markdown text that I had typed out:

[code]

This entire line was a hyperlink in the PDF, as seen in the image below

![image](https://user-images.githubusercontent.com/71701859/162475032-628009eb-546a-421f-b913-100e8850b4cc.png)

The command used to generate the PDF was `mdpdf file.md --gh-style`

[2022-04-29 11:34] mirko3000 opened #114 "Table of content in PDF"
Is there a way to generate the PDF outline/table of content? I do have a ToC within the document with working links (using markdown-toc), but the generated PDF does not have the native outline based on my headings.

[2022-05-13 13:19] Kenji776 opened #115 "Links being resolved to absolute file paths instead of relative"
When using mdpdf on some generated markdown, the links to other files are always being converted into absolute file paths instead of relative. This is one a windows 10 machine where the current directory is the same as the files being processed. I have attempted to use the suggested fix of prepending ./ before the target (another PDF file) and it still resolves to an absolute path.

Example Markdo

[2022-05-13 14:01] BlueHatbRit commented on #115
Hi @Kenji776 - so the code actually attempts to verify image links and convert them to an absolute url (https://github.com/BlueHatbRit/mdpdf/blob/5bcedea4c4d77bc9dccad3e7e65935d16d05d950/src/utils.js#L56). MDPDF does a 2 stage conversion: markdown -> html -> pdf, in the past we had some trouble with the html -> pdf step where it wasn't rendering relative links and would only accept fully resolved

[2022-06-15 13:42] DEYROS opened #116 "Trying to add Page Number in the footer"
I'm trying to add a **page number** in the **footer** of my PDF.

**index.js** that I run(node) to create the PDF:
[code]

The **footer** that I have created in HTML :
[code]
_I think I'm not supposed to write "?" or even "4" but it is so that you understand well what I expect._
Here is what I got :
![image](https://user-images.githubusercontent.com/88462659/173841765-1dbe4dca-e770-414b-9bb8-790c3

[2022-06-15 13:59] BlueHatbRit commented on #116
Just to clarify, does this mean you've tried using it without specifying those values? Such as:

[code]

Would it be possible to try a `div` rather than a `span` for those as well and see what happens?

[2022-06-15 14:13] DEYROS commented on #116
I tried it and nothing happened :
![image](https://user-images.githubusercontent.com/88462659/173848554-3f38bc01-95e0-471d-841f-6019afc97fc2.png)
And if i try a div rather than a span thise happen :
![image](https://user-images.githubusercontent.com/88462659/173848925-37bbae9b-ab47-4e81-b621-91cdfbb23662.png)
[code]

[2022-06-16 07:56] DEYROS commented on #116
up

[2022-06-23 15:25] nopeless opened #117 "Slow image urls will not load the entire image on rendered pdfs"
![image](https://user-images.githubusercontent.com/38830903/175335788-efd933d1-9ed1-422b-97e4-6daf53680c53.png)

## Vscode preview shows this

![image](https://user-images.githubusercontent.com/38830903/175335918-97c16e7e-438c-462c-83aa-95ccacf15b4e.png)

Requested fix:

A) Wait until the entire image is downloaded
B) Produce a warning

[2022-06-23 15:37] nopeless commented on #117
#118
Fixes this issue

[2022-06-23 15:40] krzysztof-o commented on #112
Upgrading meow in #105 would fix one of the audit errors returned by `npm audit`. Would be great if you could merge that one plus `cheerio` dependency is also marked as High issue.

[code]

[2022-06-23 15:57] nopeless commented on #116
[code]

This works for me

Are you sure you properly saved your file

[2022-06-23 16:13] nopeless commented on #115
@Kenji776 This is not possible because `file://` protocol does not allow relative links. I did a little digging and found out that there aren't easy solutions to what you posted.

However, I suggest you that you host these pdfs on a website for example using GitHub so you can always use absolute links using web uri, without having to worry about the recipient's file structure.

[2022-06-23 18:08] DEYROS commented on #116
hello @nopeless how did you create the pdf ? Like me or with puppeteer ?
Could you please show me how did you did it ? Thx !

[2022-06-23 18:40] nopeless commented on #116
Its just your code. It worked first try. Would you like a stackblitz (free repo hosting website) for reproduction?

[2022-06-23 18:44] DEYROS commented on #116
Nothing else really ?
Yes it would be perfect thx

[2022-06-23 19:08] nopeless commented on #116
GitPod*

I have no idea why the machine in GitPod can't install some libraries (can't run puppeteer) but use this code
[code]

`footer.html`
[code]
@DEYROS

[2022-06-23 19:11] nopeless commented on #116
oh and uh...
You might have to use path.join again (this code is tested on a custom branch #119) and this pr fixes path resolve

[2022-06-23 19:17] DEYROS commented on #116
Ok ok could you make a screenshot of the pages ? To see what you get ?

[2022-06-24 02:26] nopeless commented on #116
@DEYROS
![image](https://user-images.githubusercontent.com/38830903/175449854-353d50f6-9878-4586-a17c-e70187950416.png)

[2022-06-24 07:05] DEYROS commented on #116
When I try to use your code here is what happen :
[code]

[2022-06-24 08:10] DEYROS commented on #116
@nopeless
Why did you put :
[code]

instead of :
[code]
That's maybe why it doesn't work for me.

[2022-06-24 09:04] #117 closed

[2022-06-24 09:10] DEYROS commented on #116
I also tried something like that :

[code]
and for my **footer.html** :
[code]

And I got this :
![image](https://user-images.githubusercontent.com/88462659/175503245-4098714f-de80-4f97-9494-fd07c5ec40e3.png)
So it doesn't work

[2022-06-24 11:32] nopeless commented on #116
Because I am running this code on a clone of this repo. Let me test something real quick

[2022-06-24 11:33] DEYROS commented on #116
OK ok thx

[2022-06-24 11:45] nopeless commented on #116
@DEYROS I am totally unable to replicate your issue. Can you upload an entire zip file here or create a new repository containing all source code? My best guess is that your CSS is causing issues but this entire thread was beating around the bush and I want to nail it down this time

[2022-06-24 11:49] DEYROS commented on #116
No problem, here it is :
[pdfFinal.zip](https://github.com/BlueHatbRit/mdpdf/files/8975908/pdfFinal.zip)
 Thnak you for your help !

[2022-06-24 11:52] DEYROS commented on #116
I deleted the css from the index.js :
[code]
This line.
It doesn't work, I don't have any page numbers.

[2022-06-24 12:11] nopeless commented on #116
@DEYROS General tip: when people ask u to send a zip for node project, include package.json and package-lock.json

[2022-06-24 12:17] nopeless commented on #116
I tried running your poject and for some reason the footer appears squished

Nonetheless, the page number is still there

![image](https://user-images.githubusercontent.com/38830903/175532068-2db28da4-4228-47e5-80bd-6c1221e714fa.png)

I think it might be a puppeteer issue. What is your puppeteer version?

[2022-06-24 12:19] DEYROS commented on #116
I have just done an "npm i puppeteer" so I should have the last version ?

[2022-06-24 12:33] BlueHatbRit commented on #116
Puppeteer is a dependency of mdpdf, so you don't need to install it seperately. I've pushed a branch with the latest puppeteer because we're very far behind. If you uninstall mdpdf globally `npm uninstall -g mdpdf`, pull this branch https://github.com/BlueHatbRit/mdpdf/pull/123 and then run `npm install && npm link` you'll pull down all the latest dependencies including my puppeteer upgrade. You'l

[2022-06-24 12:34] nopeless commented on #116
That is just mdpdf's index.js. I ran the script in a clone of this repo and src/index.js should be identical to mdpdf in most cases

[2022-06-24 13:01] DEYROS commented on #116
![image](https://user-images.githubusercontent.com/88462659/175540832-6e2087f5-4527-412c-9d51-b1de457d59b1.png)
The problem maybe come from my node_modules ? I have installed a lot of libraries how could I start from the begining(clear everything) and then install only mdpdf ? If I delete "node_modules" what happen ? What does this file do exactly ?
Curently I have all this files open in vsCode an

[2022-06-24 13:08] BlueHatbRit commented on #116
If you're using the js api (as you seem to be with a node project) you should open your package.json and replace the `mdpdf` line's version number with `git://github.com/bluehatbrit/mdpdf.git#puppeteer-upgrade`. Then run `npm install` on the command line and re-run your code. That will put you on the experimental branch where I have just upgraded Puppeteer in mdpdf.

[2022-06-24 13:10] DEYROS commented on #116
![image](https://user-images.githubusercontent.com/88462659/175542605-f132bca5-1cfd-4af6-81d9-5b62ef2006bb.png)
![image](https://user-images.githubusercontent.com/88462659/175542622-210f5813-a0c1-4e05-916a-64133d3f03e4.png)
I should replace that :
[code]
 into that :
git://github.com/bluehatbrit/mdpdf.git#puppeteer-upgrade

[2022-06-24 13:12] nopeless commented on #116
package.json not package-lock
you should never edit package-lock

[2022-06-24 13:15] BlueHatbRit commented on #116
Yep!

[2022-06-24 13:16] DEYROS commented on #116
I did it but now I encounter a timeout how can I change this one ?
![image](https://user-images.githubusercontent.com/88462659/175543685-4bfb07cd-678d-4f37-92e5-bf1a51a3e272.png)
I already did it but don't remember

[2022-06-24 13:30] DEYROS commented on #116
![image](https://user-images.githubusercontent.com/88462659/175546065-01c463ab-d3d3-44b3-b042-1a3c46fbde3f.png)
![image](https://user-images.githubusercontent.com/88462659/175546092-0daab6ed-cc01-474f-952b-d57f732ccdfe.png)
It """""work"""" I don't really understand why there is not any css or even the image at the top

[2022-06-24 13:55] DEYROS commented on #116
So when I have this I can saw the number of pages :
![image](https://user-images.githubusercontent.com/88462659/175550336-8bd6e30a-1220-4c39-91a8-cacbd2adcb80.png)
But the css isn't used anymore
And when I have this :
![image](https://user-images.githubusercontent.com/88462659/175550528-e4e2348b-841e-45d2-99ab-8f0b7c0dd305.png)
The css is used but I can't see the numbre of pages hmmm interesting

[2022-06-24 14:09] nopeless commented on #116
Hey at least its working

[2022-06-24 14:10] DEYROS commented on #116
😂

[2022-06-24 14:20] DEYROS commented on #116
But actually the css is used but not completly as you can see the title are in red :
![image](https://user-images.githubusercontent.com/88462659/175555027-00333c76-9c24-4de6-abf5-a3f339040ceb.png)
with the font "calibri" i just don't have the css on the footer and to the header

[2022-06-24 14:33] BlueHatbRit commented on #116
Headers and footers don't use the main document css, we have the inject it for the body, header, and footer seperately. It sounds like between v2 and v15 something was changed with how puppeteer handles those.

[2022-06-24 14:57] BlueHatbRit commented on #112
I've upgraded a bunch of the deps today, the outstanding one is `meow` which now requires using esmodules which would need us to convert the project over to that. I started a branch but it's going to take a while to debug and get right so it may not happen quickly unless someone else wants to take that on.

[2022-06-24 15:11] #10 closed

[2022-06-25 05:21] nopeless commented on #116
@BlueHatbRit with that being said, the puppeteer bump should be released as a major version

[2022-06-25 07:53] BlueHatbRit commented on #116
I agree, I'll need to do some additional testing as well to ensure other scenarios still work.

I think it'd be wise to do the release after the final security upgrade as well. Meow requires the project to be using esmodules which has potential to slightly shift out API also. It's something I'm looking at but may take a bit. If it's going to take me longer than a week or so I may need to just do t

[2022-06-29 14:39] BlueHatbRit commented on #116
3.0.1 is released now which fixes the numbering, will continue to look into the styling issue when time permits though.

[2022-08-08 19:35] quito-inv commented on #46
Hi! Any updates on this? I thought the --gh-style flag would use `simpleLineBreaks: false` as that is what GH uses. I can probably submit a PR to fix this.
It seems like an easy fix, I'd add a parameter to this function https://github.com/BlueHatbRit/mdpdf/blob/4c28f7e3e46661a041214356d8fe75ae2e3142d3/src/index.js#L51
to set the `simpleLineBreaks` option in the `options` object. I don't think ther

[2022-08-13 22:48] BlueHatbRit commented on #46
No update I'm afraid, I've not had any time to look at this recently unfortunately. If that's the case then setting that option seems reasonable to me although it is a breaking change for the default settings so we'll want to roll it into a major version bump.

Would be happy to review a PR for this though and if all is well I can do the release.

[2022-08-17 13:08] cekageka commented on #93
Hi @BlueHatbRit,

agree that using mpdf to convert a folder/subfolder structure to PDF would be a great enhancement. The use case is about all the GitBook / Wiki structures out there:

* all GitHub Wiki repos
* all GitLab Wiki repos
* all GitBook repos

Some examples:
https://github.com/Netflix/Hystrix/wiki
https://github.com/d3/d3/wiki
https://docs.gitbook.com/

All of these are using a file call

[2022-08-17 13:55] BlueHatbRit commented on #93
Hi @cekageka thanks for the examples there. This certainly is an interesting idea and I'm not against having it in mdpdf generally. Right now I don't have time to build out a feature like this myself but would be happy to help someone figure out an implementation if they wanted to work on it.

The `_Sidebar.md` is interesting to structure things, although I'd worry that it would be quite brittle t

[2022-08-17 13:59] BlueHatbRit commented on #93
Hi @cekageka thanks for the examples there. This certainly is an interesting idea and I'm not against it existing in mdpdf generally speaking. That said I have a couple of concerns which we'd need to think about an address before merging anything in.

1.  The `_Sidebar.md` is interesting to structure things, although I'd worry that it would be quite brittle to parse as it's just a markdown file. G

[2022-08-17 19:21] kito-inv commented on #46
@BlueHatbRit I've submitted a [PR](#141 ) to fix this. I can't add you as a reviewer so I'm just letting you know here

[2022-08-17 21:45] cekageka commented on #93
Hi @BlueHatbRit,

thanks for your very fast reply. I totally agree - after thinking twice I assume it's already perfectly possible to use mdpdf similar to the following pandoc script to do the job:

https://gist.github.com/clemsos/9e480b2b792b57f1b22d

So from my perspective the issue is solved.

Thanks again,
Christian

[2022-09-14 10:14] maphstr commented on #79
Fixed so you at least can use a base64-image and colored backgrounds in header in this fork, https://github.com/maphstr/mdpdf
npm: mdpdf_jm

[2022-10-19 06:37] info-git opened #144 "Can't run after fresh install on Ubuntu 22.04"
Installed with npm install mdpdf -g
[code]

[2022-10-19 08:16] BlueHatbRit commented on #144
Hi there, what version of nodejs and npm are you running? This looks to me like your version of node might be old.

[2022-10-19 08:44] info-git commented on #144
Hello
Yeah that might be it
[code]
[code]
I'm gonna try and see if there's upgrade instructions I can use

[2022-10-19 09:10] info-git commented on #144
OK. Got it working by following the instructions for the NVM method @ https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-22-04
Working version of `node` is `v16.14.0`

[2022-10-19 09:11] #144 closed

[2022-11-23 13:23] pgalbavy-itrs commented on #115
I've run into this and also a slightly related issue - which is more enhancement and happy to open a new issue for it.

I have references to external MD files (generated automatically from my source for each command in the program) and I noticed this problem with relative links but also thought it would be good to maybe have an option to rewrite `.md` hrefs to `.pdf` in anticipation of the other f